<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:with="activeMenuItem='Change notices'" lang="en">
<!--/*@thymesVar id="changeNoticeTo" type="ru.javaprojects.archivist.changenotices.ChangeNoticeTo"*/-->

<th:block th:replace="~{fragments/main::page(title='Archivist - change notices',appMain=~{::appMain}, ownScript=~{::ownScript})}">
    <appMain>
        <span th:if="${action != null}" th:data-action="${action}" th:id="actionSpan"></span>
        <!-- Create/Edit Change notice card -->
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-xxl-10">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="text-end mt-3 me-3">
                        <a th:href="@{/change-notices}" type="button" class="btn-close pb-0" aria-label="Close"></a>
                    </div>
                    <div class="card-body px-3 px-md-5 pb-3 pb-md-5 pt-0 text-center">
                        <h3 class="mb-4" th:text="${changeNoticeTo.isNew()} ? 'New change notice card' : 'Edit: ' + ${changeNoticeTo.name}">Create/Edit Change notice</h3>
                        <form th:action="@{/change-notices}" method="post" th:object="${changeNoticeTo}" enctype="multipart/form-data">
                            <input type="hidden" th:field="*{id}">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <div class="input-group">
                                            <span class="input-group-text doc-card-field px-md-4" id="nameAddon" title="Name">Name</span>
                                            <input type="text" id="nameInput" th:field="*{name}"
                                                   th:class="${#fields.hasErrors('name')} ? 'form-control is-invalid' : 'form-control'"
                                                   title="Name" aria-label="Name" aria-describedby="nameAddon" required/>
                                        </div>
                                        <span th:if="${#fields.hasErrors('name')}">
                                            <ul>
                                                <li class="text-danger text-start"
                                                    th:each="err : ${#fields.errors('name')}" th:text="${err}"/>
                                            </ul>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text doc-card-field" title="Release date">Release date</span>
                                        <input type="date" id="releaseDateInput" name="releaseDate" th:value="*{releaseDate}" class="form-control" style="cursor: pointer"
                                               title="Release date" aria-label="Release date" required/>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text doc-card-field" id="developerAddon" title="Developer">Developer</span>
                                        <select class="form-control selectpicker border" data-style="btn-white" id="developerSelect"
                                                name="developer" title="&nbsp" aria-label="Developer" aria-describedby="developerAddon">
                                            <option value="" selected></option>
                                            <option th:each="developer : ${developers}"
                                                    th:value="${developer.id}"
                                                    th:text="${developer.name}"
                                                    th:selected="${changeNoticeTo.developer != null && changeNoticeTo.developer.id == developer.id}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="input-group">
                                        <span class="input-group-text doc-card-field" id="changeReasonCodeAddon" title="Change reason code">Change reason code</span>
                                        <select class="form-control selectpicker border" data-style="btn-white" id="changeReasonCodeSelect"
                                                th:field="*{changeReasonCode}" title="&nbsp" required aria-label="Change reason code" aria-describedby="changeReasonCodeAddon">
                                            <option th:each="changeReasonCode : ${changeReasonCodes}"
                                                    th:value="${changeReasonCode.name}"
                                                    th:text="${changeReasonCode}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4 mt-3 mt-lg-0 text-start text-lg-center">
                                    <input type="file" accept="application/pdf" id="fileInput" th:field="*{file}" class="form-control" required/>
                                </div>
                            </div>

                            <!-- Changes block -->
                            <div class="text-start mt-3">
                                <div class="row">
                                    <div class="col">
                                        <h4 class="text-secondary">Changes</h4>
                                    </div>
                                    <div class="col text-end">
                                        <button type="button" class="btn btn-sm btn-secondary" title="Add change" onclick="addChangeRow()">Add change</button>
                                    </div>
                                </div>

<!--                                <div class="text-end" id="addChangeButtonDiv">-->
<!--                                    <button type="button" class="btn btn-sm btn-secondary" title="Add change" onclick="addChangeRow()">Add change</button>-->
<!--                                </div>-->
<!--                                <div id="inputChangeDiv" hidden>-->
<!--                                    <div class="row row-cols-2 row-cols-md-3 d-flex align-items-center">-->
<!--                                        <div class="col-6 col-md-4">-->
<!--                                            <input type="text" id="decimalNumberInput" form="changeForm" class="form-control" title="Document decimal number"-->
<!--                                                   aria-label="Document decimal number" placeholder="Document decimal number" required/>-->
<!--                                        </div>-->
<!--                                        <div class="col-6 col-md-3">-->
<!--                                            <input type="number" id="changeNumberInput" form="changeForm" class="form-control" title="Change number" placeholder="Change number" required/>-->
<!--                                        </div>-->
<!--                                        <div class="col-12 col-md-3 btn-toolbar text-start py-2">-->
<!--                                            <button type="submit" class="btn btn-sm btn-success px-3 me-1" title="Add" onclick="addChangeRow()">Add</button>-->
<!--                                            <button type="button" class="btn btn-sm btn-secondary" title="Cancel" onclick="cancelAddChange()">Cancel</button>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
                                <div class="table-responsive text-nowrap">
                                    <table class="table table-hover" id="changesTable" hidden>
                                        <thead>
                                        <tr>
                                            <th class="w-50">Document</th>
                                            <th class="w-25">Change number</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="change : ${changeNoticeTo.changes}" class="table-row">
                                            <td th:text="${change.document.decimalNumber}"></td>
                                            <td th:text="${change.changeNumber}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="text-end mt-4">
                                <a th:if="${!changeNoticeTo.isNew()}" th:href="@{'/change-notices/' + ${changeNoticeTo.id}}" class="btn btn-secondary" type="button">Cancel</a>
                                <button class="btn btn-success" type="submit" th:text="${changeNoticeTo.isNew()} ? 'Create card' : 'Save card'">Create/Save card</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </appMain>

    <ownScript>
        <script src="/js/common.js?v=1"></script>
        <script src="/js/change-notice-form.js?v=1"></script>
    </ownScript>
</th:block>

<script>
    function addChangeRow() {
        $('#changesTable').attr('hidden', false);
        let changeRowIndex = $('.change-row').length;
        console.log(changeRowIndex);
        let documentTd = $('<td></td>').html(`<input type="text" class="form-control" required />`);
        let changeNumberTd = $('<td></td>').html(`<input type="number" class="form-control" required />`);
        let deleteChangeSubmitHtml = `<button class='btn btn-sm btn-secondary ms-3'>Cancel</button>
                                       <button class='btn btn-sm btn-danger' onclick='deleteChangeRow(${changeRowIndex})'>Delete</button>`;
        let deleteActionTd = $('<td></td>').addClass('text-end').html(`<a tabindex="0" type="button" class="trash-button me-3 mt-1"
                title="Delete change" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Delete this change?"
                data-bs-content="${deleteChangeSubmitHtml}"> <i class="fa-solid fa-trash"></i></a>`);
        let changeRow = $('<tr></tr>').addClass('change-row').attr('id', `changeRow-${changeRowIndex}`);
        changeRow.append(documentTd);
        changeRow.append(changeNumberTd);
        changeRow.append(deleteActionTd);
        $('#changesTable > tbody').append(changeRow);
        cancelAddChange();
        let popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]');
        let popoverList = [...popoverTriggerList].map(popoverTriggerEl =>
            new bootstrap.Popover(popoverTriggerEl, {html : true, sanitize: false}));
    }

    function cancelAddChange() {
        $('#decimalNumberInput').val('');
        $('#changeNumberInput').val('');
        $('#addChangeButtonDiv').attr('hidden', false);
        $('#inputChangeDiv').attr('hidden', true);
    }

    function deleteChangeRow(changeRowIndex) {
        $('#changeRow-' + changeRowIndex).remove();
        if ($('.change-row').length === 0) {
            $('#changesTable').attr('hidden', true);
        }
    }
</script>