<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:with="activeMenuItem='Change notices'" lang="en">
<!--/*@thymesVar id="changeNotice" type="ru.javaprojects.archivist.changenotices.model.ChangeNotice"*/-->

<th:block th:replace="~{fragments/main::page(title='Archivist - change notices',appMain=~{::appMain}, ownScript=~{::ownScript})}">
    <appMain>
        <span th:if="${action != null}" th:data-action="${action}" th:id="actionSpan"></span>
        <!-- Change notice details card -->
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-xxl-10">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="text-end mt-3 me-3">
                        <a th:href="@{/change-notices}" type="button" class="btn-close pb-0" aria-label="Close"></a>
                    </div>
                    <div class="card-body px-3 px-md-5 pb-3 pb-md-5 pt-0 text-center">
                        <h3 class="mb-4" th:text="${changeNotice.name}">Change notice name</h3>
                        <div th:object="${changeNotice}">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text doc-card-field px-md-4" id="nameAddon" title="Name">Name</span>
                                        <input type="text" id="nameInput" th:field="*{name}" class="form-control bg-light" disabled
                                               title="Name" aria-label="Name" aria-describedby="nameAddon"/>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text doc-card-field d-none d-md-block" title="Release date">Release date</span>
                                        <span class="input-group-text doc-card-field d-md-none" title="Release date">Release date</span>
                                        <input type="text" id="releaseDateInput" th:value="${#temporals.format(changeNotice.releaseDate, 'dd.MM.yyyy')}" class="form-control bg-light" disabled
                                               title="Release date" aria-label="Release date"/>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text doc-card-field" id="developerAddon" title="Developer">Developer</span>
                                        <input type="text" id="developerInput" th:field="*{developer.name}" class="form-control bg-light" disabled
                                               title="Developer" aria-label="Developer" aria-describedby="developerAddon"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="input-group">
                                        <span class="input-group-text doc-card-field" id="changeReasonCodeAddon" title="Change reason code">Change reason code</span>
                                        <input type="text" id="changeReasonCodeInput" th:value="*{changeReasonCode}" class="form-control bg-light" disabled
                                               title="Change reason cod" aria-label="Change reason code" aria-describedby="changeReasonCodeAddon"/>
                                    </div>
                                </div>
                                <div class="col-lg-4 mt-3 mt-lg-0 text-start">
                                    <div class="input-group">
                                        <span class="input-group-text doc-card-field" id="fileAddon" title="File">File</span>
                                        <div class="form-control bg-light" aria-label="File" aria-describedby="fileAddon">
                                            <a th:href="@{/change-notices/download(fileLink=*{file.fileLink})}"
                                               th:utext="'<i class=&quot;text-danger fa-solid fa-file-pdf&quot;></i>' + ${changeNotice.file.fileName}" target="_blank" title="Show file">File name</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Changes block -->
                        <div class="text-start mt-3">
                            <h4 class="text-secondary ms-1">Changes</h4>
                            <span th:if="${changeNotice.changes.isEmpty()}">
                                <h5 class="alert alert-warning py-2 mb-4">No changes found.</h5>
                            </span>
                            <div th:if="${!changeNotice.changes.isEmpty()}" class="table-responsive text-nowrap">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th class="w-25 pt-0">Document</th>
                                        <th class="w-50 pt-0 text-center">Change number</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody class="table-group-divider">
                                    <tr th:each="change : ${changeNotice.changes}" class="table-row">
                                        <td th:text="${change.document.decimalNumber}" title="Decimal number"></td>
                                        <td class="text-center" th:text="${change.changeNumber}" title="Change number"></td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div sec:authorize="hasAnyRole('ADMIN','ARCHIVIST')" class="text-end">
                            <a th:href="@{'/change-notices/edit/' + ${changeNotice.id}}" class="btn btn-warning" type="button">Edit card</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </appMain>

    <ownScript>
        <script src="/js/common.js?v=1"></script>
    </ownScript>
</th:block>
