<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:with="activeMenuItem='Change notices'" lang="en">
<!--/*@thymesVar id="changeNoticeTo" type="ru.javaprojects.archivist.changenotices.to.ChangeNoticeTo"*/-->

<th:block th:replace="~{fragments/main::page(title='Archivist - change notices',appMain=~{::appMain}, ownScript=~{::ownScript})}">
    <appMain>
        <span th:if="${action != null}" th:data-action="${action}" th:id="actionSpan"></span>
        <!-- Create/Edit Change notice card -->
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-xxl-10">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="text-end mt-3 me-3">
                        <a th:href="@{/change-notices}" type="button" class="btn-close pb-0" aria-label="Close"></a>
                    </div>
                    <div class="card-body px-3 px-md-5 pb-3 pb-md-5 pt-0 text-center">
                        <h3 class="mb-4" th:text="${changeNoticeTo.isNew()} ? 'New change notice card' : 'Edit: ' + ${changeNoticeTo.name}">Create/Edit Change notice</h3>
                        <form th:action="@{/change-notices}" method="post" th:object="${changeNoticeTo}" enctype="multipart/form-data">
                            <input type="hidden" id="idInput" th:field="*{id}">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <div class="input-group">
                                            <span class="input-group-text doc-card-field px-md-4" id="nameAddon" title="Name">Name</span>
                                            <input type="text" id="nameInput" th:field="*{name}"
                                                   th:class="${#fields.hasErrors('name')} ? 'form-control is-invalid' : 'form-control'"
                                                   title="Name" aria-label="Name" aria-describedby="nameAddon" required/>
                                        </div>
                                        <span th:if="${#fields.hasErrors('name')}">
                                            <ul>
                                                <li class="text-danger text-start"
                                                    th:each="err : ${#fields.errors('name')}" th:text="${err}"/>
                                            </ul>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text doc-card-field" title="Release date">Release date</span>
                                        <input type="date" id="releaseDateInput" name="releaseDate" th:value="*{releaseDate}" class="form-control" style="cursor: pointer"
                                               title="Release date" aria-label="Release date" required/>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text doc-card-field" id="developerAddon" title="Developer">Developer</span>
                                        <select class="form-control selectpicker border" data-style="btn-white" id="developerSelect"
                                                name="developer" title="&nbsp" aria-label="Developer" aria-describedby="developerAddon">
                                            <option value="" selected></option>
                                            <option th:each="developer : ${developers}"
                                                    th:value="${developer.id}"
                                                    th:text="${developer.name}"
                                                    th:selected="${changeNoticeTo.developer != null && changeNoticeTo.developer.id == developer.id}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="input-group">
                                        <span class="input-group-text doc-card-field" id="changeReasonCodeAddon" title="Change reason code">Change reason code</span>
                                        <select class="form-control selectpicker border" data-style="btn-white" id="changeReasonCodeSelect"
                                                th:field="*{changeReasonCode}" title="&nbsp" required aria-label="Change reason code" aria-describedby="changeReasonCodeAddon">
                                            <option th:each="changeReasonCode : ${changeReasonCodes}"
                                                    th:value="${changeReasonCode.name}"
                                                    th:text="${changeReasonCode}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4 mt-3 mt-lg-0 text-start" id="fileInputDiv">
                                    <div th:if="${file != null}" class="input-group">
                                        <span class="input-group-text doc-card-field" id="fileAddon" title="File">File</span>
                                        <div class="form-control" id="editFileInput">
                                            <a th:href="@{/change-notices/download(fileLink=${file.fileLink})}" th:utext="'<i class=&quot;text-danger fa-solid fa-file-pdf&quot;></i>' + ${file.fileName}" target="_blank">File name</a>
                                            <a tabindex="0" type="button" class="trash-button float-end me-3" title="Delete file"
                                               data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Delete file?"
                                               data-bs-content="<button class='btn btn-sm btn-secondary ms-3'>Cancel</button>
                                           <button class='btn btn-sm btn-danger' onclick='deleteFile()'>Delete</button>">
                                                <i class="fa-solid fa-trash"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div>
                                        <input th:if="${file == null}" type="file" accept="application/pdf" id="fileInput" th:field="*{file}" class="form-control" required />
                                        <span th:if="${#fields.hasErrors('file')}">
                                            <ul>
                                                <li class="text-danger text-start"
                                                    th:each="err : ${#fields.errors('file')}" th:text="${err}"/>
                                            </ul>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <!-- Changes block -->
                            <div class="text-start mt-3">
                                <h4 class="text-secondary mb-0">Changes</h4>
                                <div class="table-responsive text-nowrap">
                                    <table class="table table-hover" id="changesTable">
                                        <thead>
                                        <tr>
                                            <th class="w-50 pt-0">Document</th>
                                            <th class="w-25 pt-0">Change number</th>
                                            <th class="text-end pt-0 pe-0">
                                                <button type="button" class="btn btn-sm btn-secondary" title="Add change" onclick="addEmptyChangeRow()">Add change</button>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="change, itemStat : ${changeNoticeTo.changes}" class="change-row" th:id="${'changeRow-' + itemStat.index}">
                                            <td>
                                                <input type="hidden" th:id="${'changeId-' + itemStat.index}" th:name="${'changes[' + itemStat.index + '].id'}" th:value="${change.id}">
                                                <input type="text" th:id="${'changeDecimalNumber-' + itemStat.index}" th:name="${'changes[' + itemStat.index + '].decimalNumber'}" th:value="${change.decimalNumber}"
                                                       th:class="${#fields.hasErrors('changes[__${itemStat.index}__].decimalNumber')} ? 'form-control is-invalid' : 'form-control'"
                                                       title="Document decimal number" placeholder="Document decimal number" required />
                                                <span th:if="${#fields.hasErrors('changes[__${itemStat.index}__].decimalNumber')}">
                                                    <ul>
                                                        <li class="text-danger text-start"
                                                            th:each="err : ${#fields.errors('changes[__${itemStat.index}__].decimalNumber')}" th:text="${err}"/>
                                                    </ul>
                                                </span>
                                            </td>
                                            <td>
                                                <input type="number" th:id="${'changeChangeNumber-' + itemStat.index}" th:name="${'changes[' + itemStat.index + '].changeNumber'}" th:value="${change.changeNumber}"
                                                       th:class="${#fields.hasErrors('changes[__${itemStat.index}__].changeNumber')} ? 'form-control is-invalid' : 'form-control'"
                                                       title="Change number" placeholder="Change number" required />
                                                <span th:if="${#fields.hasErrors('changes[__${itemStat.index}__].changeNumber')}">
                                                    <ul>
                                                        <li class="text-danger text-start"
                                                            th:each="err : ${#fields.errors('changes[__${itemStat.index}__].changeNumber')}" th:text="${err}"/>
                                                    </ul>
                                                </span>
                                            </td>
                                            <td class="text-end">
                                                <a tabindex="0" type="button" class="trash-button me-3 mt-1" th:id="${'deleteChangeBtn-' + itemStat.index}"
                                                   title="Delete change" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Delete this change?"
                                                   th:attr="data-bs-content='<button class=\'btn btn-sm btn-secondary ms-3\'>Cancel</button>' +
                                                   '<button class=\'btn ms-1 btn-sm btn-danger\' onclick=\'deleteChangeRow(' + ${itemStat.index} + ')\'>Delete</button>'">
                                                    <i class="fa-solid fa-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="text-end mt-4">
                                <a th:if="${!changeNoticeTo.isNew()}" th:href="@{'/change-notices/' + ${changeNoticeTo.id}}" class="btn btn-secondary" type="button">Cancel</a>
                                <button class="btn btn-success" type="submit" th:text="${changeNoticeTo.isNew()} ? 'Create card' : 'Save card'">Create/Save card</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </appMain>

    <ownScript>
        <script src="/js/common.js?v=1"></script>
        <script src="/js/change-notice-form.js?v=1"></script>
    </ownScript>
</th:block>
