HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
logs/
/src/test/content/change-notices/VUIA.SK.591/
/src/test/content/change-notices/VUIA.TN.429/
/src/test/content/documents/VUIA.465521.004E3/
/src/test/content/documents/VUIA.465521.004/
/src/test/content/documents/UPDATED_DECIMAL_NUMBER/


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
