<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<div th:fragment="header">
    <header class="fixed-top d-none d-md-block header-nav">
        <nav class="navbar navbar-expand-lg navbar-dark" id="header">
            <div class="container">
                <div class="collapse navbar-collapse mt-2 mb-2">
                    <ul class="navbar-nav mb-2 mb-lg-0 m-auto">
                        <form class="d-flex" role="search">
                            <input class="form-control" type="search" placeholder="Search" aria-label="Search" id="header-search">
                        </form>
                        <li class="nav-item menu-item me-3 ms-4">
                            <a class="nav-link" href="#">INFO_1</a>
                        </li>
                        <li class="nav-item menu-item me-3">
                            <a class="nav-link" href="#">INFO_2</a>
                        </li>
                        <li class="nav-item menu-item">
                            <a class="nav-link" href="#">INFO_3</a>
                        </li>
                    </ul>
                    <div>
                        <a sec:authorize="!isAuthenticated()" href="/login" type="button" class="btn btn-gray px-3">
                            Login
                        </a>
                    </div>
                    <div>
                        <a sec:authorize="isAuthenticated()" href="/profile" type="button" class="btn btn-gray px-3">
                            <i class="fa-solid fa-address-card"></i>
                            Profile
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
</div>
</html>
