<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:with="activeMenuItem='Tools'" lang="en">

<th:block th:replace="~{fragments/main::page(title='Archivist - tools',appMain=~{::appMain}, ownScript=~{::ownScript})}">
    <appMain>
        <h2 class="text-secondary font-weight-bold"><i class="fa-solid fa-screwdriver-wrench me-2"></i>Tools</h2>
        <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action" data-bs-toggle="modal"
                    data-bs-target="#groupAddSendingModal">Add sending for documents group</button>
            <button type="button" class="list-group-item list-group-item-action" data-bs-toggle="modal"
                    data-bs-target="#groupDeleteSendingModal">Delete sending for documents group</button>
            <button type="button" class="list-group-item list-group-item-action" data-bs-toggle="modal"
                    data-bs-target="#groupUnsubscribeModal">Unsubscribe subscriber for documents group</button>
            <button type="button" class="list-group-item list-group-item-action" data-bs-toggle="modal"
                    data-bs-target="#groupResubscribeModal">Resubscribe subscriber for documents group</button>
        </div>

        <!-- Group add sending modal -->
        <div class="modal fade" id="groupAddSendingModal" tabindex="-1" aria-labelledby="groupAddSendingModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="addSendingModalLabel">Group add sending</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form id="groupAddSendingForm" onsubmit="return false;">
                        <div class="modal-body">
                            <div class="my-3">
                                <div class="input-group">
                                    <span class="input-group-text sending-title-field">Company</span>
                                    <select class="form-select" id="companySelector" title="" required></select>
                                </div>
                                <div class="input-group mt-3">
                                    <span class="input-group-text sending-title-field">Status</span>
                                    <select class="form-select" id="statusSelector" title="" required>
                                        <option value="DUPLICATE">Duplicate</option>
                                        <option value="ACCOUNTED_COPY">Accounted copy</option>
                                        <option value="UNACCOUNTED_COPY">Unaccounted copy</option>
                                    </select>
                                </div>
                                <div class="row row-cols-1 row-cols-md-2">
                                    <div class="col">
                                        <div class="input-group mt-3">
                                            <span class="input-group-text sending-title-field">Invoice num</span>
                                            <input type="text" class="form-control" title="" id="invoiceNumInput" required>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="input-group mt-3">
                                            <span class="input-group-text d-none d-md-block">Date</span>
                                            <span class="input-group-text sending-title-field d-md-none">Invoice date</span>
                                            <input type="date" class="form-control" id="invoiceDateInput" title="" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row row-cols-1 row-cols-md-2">
                                    <div class="col">
                                        <div class="input-group mt-3">
                                            <span class="input-group-text sending-title-field">Letter num</span>
                                            <input type="text" class="form-control" id="letterNumInput">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="input-group mt-3">
                                            <span class="input-group-text d-none d-md-block">Date</span>
                                            <span class="input-group-text sending-title-field d-md-none">Letter date</span>
                                            <input type="date" class="form-control" id="letterDateInput" onchange="$('#letterDateInput').css('color', 'black')">
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group mt-3">
                                    <input type="file" accept=".txt" id="addSendingFileInput" class="form-control" required style="color: transparent"
                                           onchange="changeFileInputColor('addSendingFileInput', 'gray')"/>
                                </div>
                                <div class="form-text ms-1">
                                    The .txt file must contain only document decimal numbers, each decimal number on a new line
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">&nbsp;Cancel&nbsp;</button>
                            <button type="submit" class="btn btn-success" onclick="createGroupSending()">Add data</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Group delete sending modal -->
        <div class="modal fade" id="groupDeleteSendingModal" tabindex="-1" aria-labelledby="groupDeleteSendingModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="groupDeleteSendingModalLabel">Group delete sending</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form id="groupDeleteSendingForm" onsubmit="return false;">
                        <div class="modal-body">
                            <div class="my-3">
                                <div class="input-group mt-3">
                                    <span class="input-group-text sending-title-field">Status</span>
                                    <select class="form-select" id="deleteSendingStatusSelector" title="" required>
                                        <option value="DUPLICATE">Duplicate</option>
                                        <option value="ACCOUNTED_COPY">Accounted copy</option>
                                        <option value="UNACCOUNTED_COPY">Unaccounted copy</option>
                                    </select>
                                </div>
                                <div class="row row-cols-1 row-cols-md-2">
                                    <div class="col">
                                        <div class="input-group mt-3">
                                            <span class="input-group-text sending-title-field">Invoice num</span>
                                            <input type="text" class="form-control" title="" id="deleteSendingInvoiceNumInput" required>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="input-group mt-3">
                                            <span class="input-group-text d-none d-md-block">Date</span>
                                            <span class="input-group-text sending-title-field d-md-none">Invoice date</span>
                                            <input type="date" class="form-control" id="deleteSendingInvoiceDateInput" title="" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group mt-3">
                                    <input type="file" accept=".txt" id="deleteSendingFileInput" class="form-control" required style="color: transparent"
                                           onchange="changeFileInputColor('deleteSendingFileInput', 'gray')"/>
                                </div>
                                <div class="form-text ms-1">
                                    The .txt file must contain only document decimal numbers, each decimal number on a new line
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">&nbsp;Cancel&nbsp;</button>
                            <button type="submit" class="btn btn-warning" onclick="deleteGroupSending()">Delete data</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Group unsubscribe modal -->
        <div class="modal fade" id="groupUnsubscribeModal" tabindex="-1" aria-labelledby="groupUnsubscribeModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="groupUnsubscribeModalLabel">Group unsubscribe</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form id="groupUnsubscribeForm" onsubmit="return false;">
                        <div class="modal-body">
                            <div class="my-3">
                                <div class="input-group">
                                    <span class="input-group-text sending-title-field">Company</span>
                                    <select class="form-select" id="unsubscribeCompanySelector" title="" required></select>
                                </div>
                                <div class="input-group mt-3">
                                    <input type="file" accept=".txt" id="unsubscribeFileInput" class="form-control" required style="color: transparent"
                                           onchange="changeFileInputColor('unsubscribeFileInput', 'gray')"/>
                                </div>
                                <div class="form-text ms-1">
                                    The .txt file must contain only document decimal numbers, each decimal number on a new line
                                </div>
                                <div class="form-floating mt-3">
                                    <textarea class="form-control" id="unsubscribeReason" required style="height: 100px"></textarea>
                                    <label for="unsubscribeReason">Unsubscribe reason</label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">&nbsp;Cancel&nbsp;</button>
                            <button type="submit" class="btn btn-success" onclick="unsubscribeGroup()">Add data</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Result modal -->
        <div class="modal fade" id="resultModal" tabindex="-1" aria-labelledby="resultModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="resultModalLabel">Operation result</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                        <div class="modal-body pt-0" id="resultContent"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                </div>
            </div>
        </div>
    </appMain>

    <ownScript>
        <script src="/js/common.js?v=1"></script>
        <script src="/js/tools.js?v=1"></script>
        <script src="/js/document-sending.js?v=1"></script>
    </ownScript>
</th:block>
