<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:with="activeMenuItem='Albums'" lang="en">
<!--/*@thymesVar id="albumTo" type="ru.javaprojects.archivist.albums.to.AlbumTo"*/-->

<th:block th:replace="~{fragments/main::page(title='Archivist - albums',appMain=~{::appMain}, ownScript=~{::ownScript})}">
    <appMain>
        <!-- Create/Edit album card -->
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-md-8 col-xl-5">
                <div class="card shadow">
                    <div class="card-header">
                        <span class="float-end">
                            <button type="button" class="btn-close" aria-label="Close" onclick="closeCard()"></button>
                        </span>
                        <h3 class="text-center ms-4" th:text="${albumTo.isNew()} ? 'New album' : 'Editing: ' + ${albumTo.decimalNumber}">Create/Edit album</h3>
                    </div>
                    <div class="card-body text-center">
                        <form th:action="@{/albums}" method="post" th:object="${albumTo}">
                            <input type="hidden" th:field="*{id}">
                            <div class="mb-3">
                                <div class="input-group">
                                    <span class="input-group-text" id="decimalNumberAddon"><i class="fa-solid fa-scroll fa-fw"></i></span>
                                    <div class="form-floating">
                                        <input type="text" id="decimalNumberInput" th:field="*{decimalNumber}"
                                               th:class="${#fields.hasErrors('decimalNumber')} ? 'form-control is-invalid' : 'form-control'"
                                               required placeholder="Decimal number" title="" aria-label="Decimal number" aria-describedby="decimalNumberAddon"/>
                                        <label for="decimalNumberInput" class="text-muted">Decimal number</label>
                                    </div>
                                </div>
                                <span th:if="${#fields.hasErrors('decimalNumber')}">
                                    <ul>
                                        <li class="text-danger text-start"
                                            th:each="err : ${#fields.errors('decimalNumber')}" th:text="${err}"/>
                                    </ul>
                                </span>
                            </div>
                            <div class="mb-3">
                                <div class="input-group">
                                    <span class="input-group-text" id="stampAddon"><i class="fa-solid fa-stamp fa-fw"></i></span>
                                    <div class="form-floating" id="selectFloating">
                                        <select class="form-control selectpicker border px-0 py-3" data-style="btn-white" id="stampSelect"
                                                name="stamp" title="&nbsp;" required aria-label="Stamp" aria-describedby="stampAddon">
                                            <option th:each="stamp : ${stamps}"
                                                    th:value="${stamp.name}"
                                                    th:text="${stamp}"
                                                    th:selected="${(albumTo.stamp != null && albumTo.stamp == stamp)}">
                                            </option>
                                        </select>
                                        <label for="stampSelect" class="text-muted" id="stampSelectLabel">Stamp</label>
                                    </div>
                                </div>
                            </div>
                            <div class="text-end">
                                <button th:if="${!albumTo.isNew()}" class="btn btn-secondary" type="button" onclick="history.back()">Cancel</button>
                                <button class="btn btn-success" th:classappend="${albumTo.isNew() ? '' : 'px-3'}" type="submit" th:text="${albumTo.isNew()} ? 'Create' : '&nbsp;Save&nbsp;'">Create/Save album</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </appMain>

    <ownScript>
        <script src="/js/close-card-button.js?v=1"></script>
    </ownScript>
</th:block>
