<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<!--/*@thymesVar id="activeMenuItem" type="java.lang.String"*/-->

<div th:fragment="sidebar">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-left sidebar-nav">
        <button class="navbar-toggler ms-3 ms-md-4" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a href="/" class="navbar-brand me-auto">
            <img src="/images/logo/archivist.svg" alt="Archivist" class="d-inline-block d-none d-lg-block align-text-top ms-3 ms-lg-4 mt-0 mt-lg-2">
            <img src="/images/logo/archivist-text.svg" alt="Archivist" class="d-inline-block d-lg-none align-text-top ms-1 ms-lg-4 mt-0 mt-lg-2">
            <hr class="text-white d-none d-lg-block" style="width: 232px">
        </a>
        <div>
            <a sec:authorize="!isAuthenticated()" th:href="@{/login}" type="button" class="d-lg-none btn btn-gray px-3 px-md-4 me-3 me-md-4">
                <i class="fa-solid fa-right-to-bracket"></i>
                Login
            </a>
        </div>
        <div>
            <a sec:authorize="isAuthenticated()" th:href="@{/profile}" type="button" class="d-lg-none btn btn-gray px-3 px-md-4 me-3 me-md-4">
                <i class="fa-solid fa-address-card"></i>
                Profile
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li sec:authorize="hasRole('ADMIN')" class="nav-item mt-3 mt-lg-0 mb-0 mb-lg-3" th:classappend="${activeMenuItem == 'Users'}? 'active' : ''">
                    <a class="nav-link sidebar-nav-link" th:href="@{/users}"><span class="ms-4"><i class="fas fa-users me-2"></i>Users</span></a>
                </li>
                <li class="nav-item mb-0 mb-lg-3" th:classappend="${activeMenuItem == 'Companies'}? 'active' : ''">
                    <a class="nav-link sidebar-nav-link" th:href="@{/companies}"><span class="ms-4"><i class="fa-brands fa-fort-awesome me-2"></i>Companies</span></a>
                </li>
                <li class="nav-item mb-0 mb-lg-3">
                    <a class="nav-link sidebar-nav-link" href="#test3"><span class="ms-4"><i class="fa-solid fa-bug fa-fw me-2"></i>Link_3</span></a>
                </li>
                <li class="nav-item mb-0 mb-lg-3">
                    <a class="nav-link sidebar-nav-link" href="#test4"><span class="ms-4"><i class="fa-solid fa-book-skull fa-fw me-2"></i>Link_4</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link sidebar-nav-link" href="#test5"><span class="ms-4"><i class="fa-solid fa-comments fa-fw me-2"></i>Link_5</span></a>
                </li>
            </ul>
        </div>
    </nav>
</div>
</html>
