<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<!--/*@thymesVar id="activeMenuItem" type="java.lang.String"*/-->

<div th:fragment="sidebar">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-left sidebar-nav">
        <button class="navbar-toggler ms-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a href="/" class="navbar-brand me-auto" title="Archivist">
            <img src="/images/logo/archivist.svg" alt="Archivist" class="d-inline-block d-none d-lg-block align-text-top ms-3 ms-lg-4 mt-0 mt-lg-2">
            <img src="/images/logo/archivist-text.svg" alt="Archivist" class="d-inline-block d-lg-none align-text-top ms-1 ms-lg-4 mt-0 mt-lg-2">
            <hr class="text-white d-none d-lg-block" style="width: 232px">
        </a>
        <div>
            <a sec:authorize="!isAuthenticated()" th:href="@{/login}" type="button" class="d-lg-none btn btn-gray px-3 px-md-4 me-3">
                <i class="fa-solid fa-right-to-bracket"></i>
                Login
            </a>
        </div>
        <div>
            <a sec:authorize="isAuthenticated()" th:href="@{/profile}" type="button" class="d-lg-none btn btn-gray px-3 px-md-4 me-3">
                <i class="fa-solid fa-address-card"></i>
                Profile
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li sec:authorize="hasRole('ADMIN')" class="nav-item mt-3 mt-lg-0 mb-0 mb-lg-3" th:classappend="${activeMenuItem == 'Users'}? 'active' : ''">
                    <a class="nav-link sidebar-nav-link" th:href="@{/users}"><span class="ms-4"><i class="fas fa-people-group fa-fw me-2"></i>Users</span></a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item" style="cursor:pointer" id="cardsNavLink">
                    <div class="accordion-header">
                        <a class="nav-link sidebar-nav-link" data-bs-toggle="collapse" data-bs-target="#cardsAccordion" aria-expanded="true" aria-controls="cardsAccordion" onclick="useCardsAccordion()">
                            <span class="ms-4"><i class="fa-solid fa-folder-open fa-fw me-2"></i>Cards</span>
                            <span class="float-end me-3 me-lg-1" id="cardsNavLinkIcon"><i class="fa-solid fa-chevron-down"></i></span>
                        </a>
                    </div>
                </li>
                <div id="cardsAccordion" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <ul class="navbar-nav">
                            <li sec:authorize="isAuthenticated()" class="nav-item mt-1" th:classappend="${activeMenuItem == 'Documents'}? 'active' : ''" id="documentsNavLink">
                                <a class="nav-link sidebar-nav-link" th:href="@{/documents}"><span class="ms-5"><i class="fa-solid fa-scroll fa-fw me-2"></i>Documents</span></a>
                            </li>
                            <li sec:authorize="isAuthenticated()" class="nav-item mt-1" th:classappend="${activeMenuItem == 'Change notices'}? 'active' : ''" id="changeNoticesNavLink">
                                <a class="nav-link sidebar-nav-link" th:href="@{/change-notices}"><span class="ms-5"><i class="fa-solid fa-file-signature fa-fw me-2"></i>Change notices</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <li sec:authorize="isAuthenticated()" class="nav-item mt-0 mt-lg-3 mb-0 mb-lg-3" th:classappend="${activeMenuItem == 'Tools'}? 'active' : ''">
                    <a class="nav-link sidebar-nav-link" th:href="@{/tools}"><span class="ms-4"><i class="fa-solid fa-screwdriver-wrench fa-fw me-2"></i>Tools</span></a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item" style="cursor:pointer" id="referencesNavLink">
                    <div class="accordion-header">
                        <a class="nav-link sidebar-nav-link" data-bs-toggle="collapse" data-bs-target="#referencesAccordion" aria-expanded="true" aria-controls="referencesAccordion" onclick="useReferencesAccordion()">
                            <span class="ms-4"><i class="fa-solid fa-bookmark fa-fw me-2"></i>Reference</span>
                            <span class="float-end me-3 me-lg-1" id="referencesNavLinkIcon"><i class="fa-solid fa-chevron-down"></i></span>
                        </a>
                    </div>
                </li>
                <div id="referencesAccordion" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <ul class="navbar-nav">
                            <li sec:authorize="isAuthenticated()" class="nav-item mt-1" th:classappend="${activeMenuItem == 'Companies'}? 'active' : ''" id="companiesNavLink">
                                <a class="nav-link sidebar-nav-link" th:href="@{/companies}"><span class="ms-5"><i class="fa-solid fa-landmark fa-fw me-2"></i>Companies</span></a>
                            </li>
                            <li sec:authorize="isAuthenticated()" class="nav-item mt-1" th:classappend="${activeMenuItem == 'Departments'}? 'active' : ''" id="departmentsNavLink">
                                <a class="nav-link sidebar-nav-link" th:href="@{/departments}"><span class="ms-5"><i class="fas fa-users fa-fw me-2"></i>Departments</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <li sec:authorize="isAuthenticated()" class="nav-item mt-0 mt-lg-3 mb-0 mb-lg-3" th:classappend="${activeMenuItem == 'Albums'}? 'active' : ''">
                    <a class="nav-link sidebar-nav-link" th:href="@{/albums}"><span class="ms-4"><i class="fa-solid fa-book fa-fw me-2"></i>Albums</span></a>
                </li>
            </ul>
        </div>
    </nav>
</div>
</html>
