<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<th:block th:replace="~{fragments/main::page(title='Archivist - profile',appMain=~{::appMain}, ownScript=~{::ownScript})}">
    <appMain>
        <h2 class="text-secondary font-weight-bold"><i class="fa-solid fa-address-card me-2"></i>Profile</h2>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="card shadow">
                    <div class="card-body">
                        <div class="mb-2 mb-sm-0">
                            <h4 th:text="${user.firstName} + ' ' + ${user.lastName}">Name</h4>
                            <div th:text="'Email: ' + ${user.email}">Email</div>
                            <div th:text="'Roles: ' + ${#strings.substring(user.roles, 1, #strings.length(user.roles) - 1)}">Roles</div>
                            <div th:text="'Registered: ' + ${#dates.format(user.registered, 'dd.MM.yyyy HH:mm')}">Registered</div>
                        </div>
                        <div class="btn-toolbar mt-2 mb-1 float-end">
                            <button type="button" class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#changePasswordModal">
                                Change password
                            </button>
                            <form th:action="@{/logout}" method="post">
                                <button class="btn btn-sm btn-secondary ms-2" type="submit">Logout</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Change password modal -->
        <div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="changePasswordModalLabel">Change password for user</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form id="changePasswordForm" onsubmit="return false;">
                        <div class="modal-body">
                            <div class="mb-4 mt-3">
                                <div class="input-group">
                                    <span class="input-group-text" id="passwordAddon" title="New password"><i class="fa-solid fa-key"></i></span>
                                    <div class="form-floating">
                                        <input type="password" class="form-control" id="newPassword" required placeholder="New password" title=""
                                               aria-label="Password" aria-describedby="passwordAddon" />
                                        <label for="newPassword" class="text-muted">New password</label>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="input-group">
                                    <span class="input-group-text" id="repeatPasswordAddon" title="Repeat password"><i class="fa-solid fa-key"></i></span>
                                    <div class="form-floating">
                                        <input type="password" class="form-control" id="repeatPassword" required placeholder="Repeat password"
                                               aria-label="Repeat password" title="" aria-describedby="repeatPasswordAddon" />
                                        <label for="repeatPassword" class="text-muted">Repeat password</label>
                                    </div>
                                </div>
                                <span class="text-danger float-start">
                                    <ul id="checkPasswordMatch" class="mb-1">
                                    </ul>
                                </span>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-warning" onclick="changePasswordProfile()" id="submitWithPassButton">Change</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </appMain>

    <ownScript>
        <script src="/js/common.js?v=1"></script>
        <script src="/js/users.js?v=1"></script>
    </ownScript>
</th:block>
