<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:with="activeMenuItem='Users'" lang="en">

<th:block th:replace="~{fragments/main::page(title='Archivist - users',appMain=~{::appMain}, ownScript=~{::ownScript})}">
    <appMain>
        <!-- Create user card -->
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-md-8 col-xl-5">
                <div class="card shadow">
                    <div class="card-header">
                        <span class="float-end">
                            <button type="button" class="btn-close" aria-label="Close" onclick="history.back()"></button>
                        </span>
                        <h3 class="text-center ms-4">New user</h3>
                    </div>
                    <div class="card-body text-center">
                        <form th:action="@{/users/create}" method="post" th:object="${user}">
                            <div class="mb-3">
                                <div class="input-group">
                                    <span class="input-group-text" id="lastNameAddon"><i class="fa-solid fa-user fa-fw"></i></span>
                                    <div class="form-floating">
                                        <input type="text" id="lastNameInput" th:field="*{lastName}"
                                               th:class="${#fields.hasErrors('lastName')} ? 'form-control is-invalid' : 'form-control'"
                                               required placeholder="Last name" title="" aria-label="Lastname" aria-describedby="lastNameAddon"/>
                                        <label for="lastNameInput" class="text-muted">Last name</label>
                                    </div>
                                </div>
                                <span class="help-block" th:if="${#fields.hasErrors('lastName')}">
                                    <ul>
                                        <li class="text-danger text-start" th:each="err : ${#fields.errors('lastName')}"
                                            th:text="${err}"/>
                                    </ul>
                                </span>
                            </div>
                            <div class="mb-3">
                                <div class="input-group">
                                    <span class="input-group-text" id="firstNameAddon"><i class="fa-solid fa-user fa-fw"></i></span>
                                    <div class="form-floating">
                                        <input type="text" id="firstNameInput" th:field="*{firstName}"
                                               th:class="${#fields.hasErrors('firstName')} ? 'form-control is-invalid' : 'form-control'"
                                               required placeholder="First name" title="" aria-label="Firstname" aria-describedby="firstNameAddon"/>
                                        <label for="firstNameInput" class="text-muted">First name</label>
                                    </div>
                                </div>
                                <span class="help-block" th:if="${#fields.hasErrors('firstName')}">
                                    <ul>
                                        <li class="text-danger text-start"
                                            th:each="err : ${#fields.errors('firstName')}" th:text="${err}"/>
                                    </ul>
                                </span>
                            </div>
                            <div class="mb-3">
                                <div class="input-group">
                                    <span class="input-group-text" id="emailAddon"><i class="fa-solid fa-envelope fa-fw"></i></span>
                                    <div class="form-floating">
                                        <input type="text" id="emailInput" th:field="*{email}"
                                               th:class="${#fields.hasErrors('email')} ? 'form-control is-invalid' : 'form-control'"
                                               required placeholder="E-mail" title="" aria-label="Email" aria-describedby="emailAddon"/>
                                        <label for="emailInput" class="text-muted">E-mail</label>
                                    </div>
                                </div>
                                <span class="help-block" th:if="${#fields.hasErrors('email')}">
									<ul>
										<li class="text-danger text-start" th:each="err : ${#fields.errors('email')}"
                                            th:text="${err}"/>
									</ul>
								</span>
                            </div>
                            <div class="mb-3">
                                <div class="input-group">
                                    <span class="input-group-text" id="rolesAddon"><i class="fa-solid fa-chess fa-fw"></i></span>
                                    <div class="form-floating" id="rolesFloating">
                                        <select class="form-control selectpicker border px-0 py-3" data-style="btn-white" id="rolesSelect"
                                                multiple th:field="*{roles}" title="&nbsp;" required aria-label="Roles" aria-describedby="rolesAddon">
                                            <option th:each="role : ${roles}"
                                                    th:value="${role}"
                                                    th:text="${role}">
                                            </option>
                                        </select>
                                        <label for="rolesSelect" class="text-muted" id="rolesSelectLabel">Roles</label>
                                    </div>
                                </div>
                                <span class="help-block" th:if="${#fields.hasErrors('roles')}">
									<ul>
										<li class="text-danger text-start" th:each="err : ${#fields.errors('roles')}"
                                            th:text="${err}"/>
									</ul>
								</span>
                            </div>
                            <div class="mb-3">
                                <div class="input-group">
                                    <span class="input-group-text" id="passwordAddon"><i class="fa-solid fa-key fa-fw"></i></span>
                                    <div class="form-floating">
                                        <input type="password" id="newPassword" th:field="*{password}"
                                               th:class="${#fields.hasErrors('password')} ? 'form-control is-invalid' : 'form-control'"
                                               required placeholder="Password" title="" aria-label="Password" aria-describedby="passwordAddon"/>
                                        <label for="newPassword" class="text-muted">Password</label>
                                    </div>
                                </div>
                                <span class="help-block" th:if="${#fields.hasErrors('password')}">
									<ul>
										<li class="text-danger text-start" th:each="err : ${#fields.errors('password')}"
                                            th:text="${err}"/>
									</ul>
								</span>
                            </div>
                            <div class="mb-3">
                                <div class="input-group">
                                    <span class="input-group-text" id="repeatPasswordAddon"><i class="fa-solid fa-key fa-fw"></i></span>
                                    <div class="form-floating">
                                        <input type="password" id="repeatPassword" class="form-control" required placeholder="Repeat password" title=""
                                               aria-label="Repeat password" aria-describedby="repeatPasswordAddon"/>
                                        <label for="repeatPassword" class="text-muted">Repeat Password</label>
                                    </div>
                                </div>
                                <span class="help-block">
                                    <ul id="checkPasswordMatch" class="text-danger text-start">
                                    </ul>
                                </span>
                            </div>
                            <div class="row">
                                <div class="col text-start">
                                    <div class="form-check form-switch">
                                        <input type="checkbox" th:field="*{enabled}" class="form-check-input" style="cursor: pointer;" checked id="flexSwitchCheckDefault">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Enabled</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="text-end">
                                        <button class="btn btn-success" type="submit" id="submitWithPassButton">Create</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </appMain>

    <ownScript>
        <script src="/js/users.js?v=1"></script>
    </ownScript>
</th:block>
