<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:with="activeMenuItem='Users'" lang="en">

<th:block th:replace="~{fragments/main::page(title='Archivist - users',appMain=~{::appMain})}">
    <appMain>
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-md-8 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="text-end mt-3 me-3">
                        <a th:href="@{/users}" type="button" class="btn-close" aria-label="Close"></a>
                    </div>
                    <div class="card-body px-3 px-md-5 pb-3 pb-md-5 pt-0 text-center">
                        <h3 class="mb-3" th:text="'Edit User: ' + ${userTo.fullName}">Edit User</h3>
                        <form th:action="@{/users/update}" method="post" th:object="${userTo}">
                            <input type="hidden" th:field="*{id}">
                            <div class="mb-4">
                                <div class="input-group">
                                    <span class="input-group-text" id="firstNameAddon" title="First name"><i class="fa-solid fa-user fa-fw"></i></span>
                                    <div class="form-floating">
                                        <input type="text" id="firstNameInput" th:field="*{firstName}"
                                               th:class="${#fields.hasErrors('firstName')} ? 'form-control is-invalid' : 'form-control'"
                                               required placeholder="First name" title="First name" aria-label="Firstname" aria-describedby="firstNameAddon"/>
                                        <label for="firstNameInput" class="text-muted">First name</label>
                                    </div>
                                </div>
                                <span class="help-block" th:if="${#fields.hasErrors('firstName')}">
                                    <ul>
                                        <li class="text-danger text-start"
                                            th:each="err : ${#fields.errors('firstName')}" th:text="${err}"/>
                                    </ul>
                                </span>
                            </div>
                            <div class="mb-4">
                                <div class="input-group">
                                    <span class="input-group-text" id="lastNameAddon" title="Last name"><i class="fa-solid fa-user fa-fw"></i></span>
                                    <div class="form-floating">
                                        <input type="text" id="lastNameInput" th:field="*{lastName}"
                                               th:class="${#fields.hasErrors('lastName')} ? 'form-control is-invalid' : 'form-control'"
                                               placeholder="Last name" title="Last name" aria-label="Lastname" aria-describedby="lastNameAddon"/>
                                        <label for="lastNameInput" class="text-muted">Last name</label>
                                    </div>
                                </div>
                                <span class="help-block" th:if="${#fields.hasErrors('lastName')}">
                                    <ul>
                                        <li class="text-danger text-start" th:each="err : ${#fields.errors('lastName')}"
                                            th:text="${err}"/>
                                    </ul>
                                </span>
                            </div>
                            <div class="mb-4">
                                <div class="input-group">
                                    <span class="input-group-text" id="emailAddon" title="E-mail"><i class="fa-solid fa-envelope fa-fw"></i></span>
                                    <div class="form-floating">
                                        <input type="text" id="emailInput" th:field="*{email}"
                                               th:class="${#fields.hasErrors('email')} ? 'form-control is-invalid' : 'form-control'"
                                               required placeholder="E-mail" title="E-mail" aria-label="Email" aria-describedby="emailAddon"/>
                                        <label for="emailInput" class="text-muted">E-mail</label>
                                    </div>
                                </div>
                                <span class="help-block" th:if="${#fields.hasErrors('email')}">
									<ul>
										<li class="text-danger text-start" th:each="err : ${#fields.errors('email')}"
                                            th:text="${err}"/>
									</ul>
								</span>
                            </div>
                            <div class="mb-4">
                                <div class="input-group">
                                    <span class="input-group-text" id="rolesAddon" title="Roles"><i class="fa-solid fa-chess fa-fw"></i></span>
                                    <div class="form-floating" id="rolesFloating">
                                        <select class="form-control selectpicker border px-0 py-3" data-style="btn-white" id="rolesSelect"
                                                multiple th:field="*{roles}" title="Choose user roles" required aria-label="Roles" aria-describedby="rolesAddon">
                                            <option th:each="role : ${roles}"
                                                    th:value="${role}"
                                                    th:text="${role}">
                                            </option>
                                        </select>
                                        <label for="rolesSelect" class="text-muted">Roles</label>
                                    </div>

                                </div>
                                <span class="help-block" th:if="${#fields.hasErrors('roles')}">
									<ul>
										<li class="text-danger text-start" th:each="err : ${#fields.errors('roles')}"
                                            th:text="${err}"/>
									</ul>
								</span>
                            </div>
                            <div class="row">
                                <div class="d-grid gap-2">
                                    <button class="btn btn-success btn-lg" type="submit">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </appMain>
</th:block>
