<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:with="activeMenuItem='Departments'" lang="en">

<th:block th:replace="~{fragments/main::page(title='Archivist - departments',appMain=~{::appMain}, ownScript=~{::ownScript})}">
    <appMain>
        <span th:if="${action != null}" th:data-action="${action}" th:id="actionSpan"></span>
        <!-- Department details card -->
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12">
                <div class="card shadow">
                    <div class="card-header">
                        <span class="float-end">
                            <button type="button" class="btn-close" aria-label="Close" onclick="closeCard()"></button>
                        </span>
                        <h3 class="text-center ms-4" th:text="${department.name}">Department name</h3>
                    </div>
                    <div class="card-body pt-2 pb-1">
                        <div class="row">
                            <div class="col-7 text-start">
                                <h4 th:text="${department.employees.isEmpty() ? 'No employees found.' : 'Employees'}" class="text-secondary">Employees</h4>
                            </div>
                            <div class="col-5 mb-2">
                                <div class="btn-toolbar justify-content-end">
                                    <a sec:authorize="hasAnyRole('ADMIN','ARCHIVIST')" th:href="@{/employees/add(chosenDepartmentId=${department.id})}" type="button" class="btn btn-primary ms-2">
                                        <span class="d-none d-md-block"><i class="fa-solid fa-plus"></i> Add employee</span>
                                        <span class="d-md-none"><i class="fa-solid fa-plus"></i> Add</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div th:if="${!department.employees.isEmpty()}" class="table-responsive text-nowrap">
                            <table class="table table-hover table-bordered">
                                <thead class="table-dark">
                                <tr>
                                    <th class="col-5">Name</th>
                                    <th class="col-2">Phone</th>
                                    <th class="col-3">Email</th>
                                    <th class="col-1 text-center">Fired</th>
                                    <th class="col-1 text-center"
                                        sec:authorize="hasAnyRole('ADMIN','ARCHIVIST')">Actions
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="employee : ${department.employees}" class="table-row" th:id="'row-' + ${employee.id}" th:classappend="${employee.fired ? 'text-danger' : ''}">
                                    <td th:text="${employee.fullName}"></td>
                                    <td th:text="${employee.phone}"></td>
                                    <td th:text="${employee.email}"></td>
                                    <td class="text-center">
                                        <input type="checkbox" class="form-check-input" style="cursor: pointer;" th:checked="${employee.fired}"
                                               th:data-name="${employee.fullName}"
                                               th:onclick="|fireEmployee(this, '${employee.id}')|" th:title="${(employee.fired ? 'Unfire' : 'Fire') + ' employee'}" />
                                    </td>
                                    <td class="text-center">
                                        <span sec:authorize="hasAnyRole('ADMIN','ARCHIVIST')">
                                            <a th:href="@{'/employees/edit/' + ${employee.id}}" type="button"
                                               title="Edit employee" class="pencil-button">
                                                <i class="fa-solid fa-pencil"></i>
                                            </a>
                                            <a type="button" class="trash-button ms-3"
                                               title="Delete employee" data-bs-toggle="modal" data-bs-target="#deleteModal"
                                               th:data-name="${employee.fullName}"
                                               th:data-id="${employee.id}">
                                                <i class="fa-solid fa-trash"></i>
                                            </a>
                                        </span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Delete employee modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="deleteModalLabel">Are you sure want to delete employee?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h6>All albums issuances for this user will also be deleted</h6>
                    </div>
                    <input type="hidden" name="employeeId" id="deleteModalEmployeeId" value=""/>
                    <input type="hidden" name="employeeName" id="deleteModalEmployeeName" value=""/>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="close">Cancel</button>
                        <button type="button" class="btn btn-danger" onclick="deleteEmployee()">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </appMain>

    <ownScript>
        <script src="/js/common.js?v=1"></script>
        <script src="/js/close-card-button.js?v=1"></script>
        <script src="/js/employees.js?v=1"></script>
    </ownScript>
</th:block>
