<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:with="activeMenuItem='Departments'" lang="en">
<!--/*@thymesVar id="department" type="ru.javaprojects.archivist.departments.model.Department"*/-->

<th:block th:replace="~{fragments/main::page(title='Archivist - departments',appMain=~{::appMain}, ownScript=~{::ownScript})}">
    <appMain>
        <!-- Create/Edit department card -->
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-md-8 col-xl-5">
                <div class="card shadow">
                    <div class="card-header">
                        <span class="float-end">
                            <button type="button" class="btn-close" aria-label="Close" onclick="history.back()"></button>
                        </span>
                        <h3 class="text-center ms-4" th:text="${department.isNew()} ? 'New department' : 'Editing: ' + ${department.name}">Create/Edit Department</h3>
                    </div>
                    <div class="card-body text-center">
                        <form th:action="@{/departments}" method="post" th:object="${department}">
                            <input type="hidden" th:field="*{id}">
                            <div class="mb-3">
                                <div class="input-group">
                                    <span class="input-group-text" id="nameAddon"><i class="fa-solid fa-users fa-fw"></i></span>
                                    <div class="form-floating">
                                        <input type="text" id="departmentNameInput" th:field="*{name}"
                                               th:class="${#fields.hasErrors('name')} ? 'form-control is-invalid' : 'form-control'"
                                               required placeholder="Name" title="" aria-label="Name" aria-describedby="nameAddon"/>
                                        <label for="departmentNameInput" class="text-muted">Name</label>
                                    </div>
                                </div>
                                <span class="help-block" th:if="${#fields.hasErrors('name')}">
                                    <ul>
                                        <li class="text-danger text-start"
                                            th:each="err : ${#fields.errors('name')}" th:text="${err}"/>
                                    </ul>
                                </span>
                            </div>
                            <div class=" text-start border rounded px-2 mb-3">
                                <span class="text-muted ms-1">Boss info</span>
                                <div class="mb-3 mt-1">
                                    <div class="input-group">
                                        <span class="input-group-text" id="bossLastNameAddon"><i class="fa-solid fa-user fa-fw"></i></span>
                                        <div class="form-floating">
                                            <input type="text" id="bossLastNameInput" th:field="*{boss.lastName}"
                                                   th:class="${#fields.hasErrors('boss.lastName')} ? 'form-control is-invalid' : 'form-control'"
                                                   required placeholder="Boss last name" title="" aria-label="Boss last name" aria-describedby="bossLastNameAddon"/>
                                            <label for="bossLastNameInput" class="text-muted">Last name</label>
                                        </div>
                                    </div>
                                    <span class="help-block" th:if="${#fields.hasErrors('boss.lastName')}">
                                        <ul>
                                            <li class="text-danger text-start"
                                                th:each="err : ${#fields.errors('boss.lastName')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                                <div class="mb-3">
                                    <div class="input-group">
                                        <span class="input-group-text" id="bossFirstNameAddon"><i class="fa-solid fa-user fa-fw"></i></span>
                                        <div class="form-floating">
                                            <input type="text" id="bossFirstNameInput" th:field="*{boss.firstName}"
                                                   th:class="${#fields.hasErrors('boss.firstName')} ? 'form-control is-invalid' : 'form-control'"
                                                   required placeholder="Boss first name" title="" aria-label="Boss first name" aria-describedby="bossFirstNameAddon"/>
                                            <label for="bossFirstNameInput" class="text-muted">First name</label>
                                        </div>
                                    </div>
                                    <span class="help-block" th:if="${#fields.hasErrors('boss.firstName')}">
                                        <ul>
                                            <li class="text-danger text-start"
                                                th:each="err : ${#fields.errors('boss.firstName')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                                <div class="mb-3">
                                    <div class="input-group">
                                        <span class="input-group-text" id="bossMiddleNameAddon"><i class="fa-solid fa-user fa-fw"></i></span>
                                        <div class="form-floating">
                                            <input type="text" id="bossMiddleNameInput" th:field="*{boss.middleName}"
                                                   th:class="${#fields.hasErrors('boss.middleName')} ? 'form-control is-invalid' : 'form-control'"
                                                   required placeholder="Boss middle name" title="" aria-label="Boss middle name" aria-describedby="bossMiddleNameAddon"/>
                                            <label for="bossMiddleNameInput" class="text-muted">Middle name</label>
                                        </div>
                                    </div>
                                    <span class="help-block" th:if="${#fields.hasErrors('boss.middleName')}">
                                        <ul>
                                            <li class="text-danger text-start"
                                                th:each="err : ${#fields.errors('boss.middleName')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                                <div class="mb-3">
                                    <div class="input-group">
                                        <span class="input-group-text" id="bossPhoneAddon" ><i class="fa-solid fa-phone fa-fw"></i></span>
                                        <div class="form-floating">
                                            <input type="text" id="bossPhoneNumberInput" th:field="*{boss.phone}"
                                                   th:class="${#fields.hasErrors('boss.phone')} ? 'form-control is-invalid' : 'form-control'"
                                                   placeholder="Boss phone number" aria-label="Boss phone number" aria-describedby="bossPhoneAddon"/>
                                            <label for="bossPhoneNumberInput" class="text-muted">Phone number</label>
                                        </div>
                                    </div>
                                    <span class="help-block" th:if="${#fields.hasErrors('boss.phone')}">
                                    <ul>
                                        <li class="text-danger text-start"
                                            th:each="err : ${#fields.errors('boss.phone')}" th:text="${err}"/>
                                    </ul>
                                </span>
                                </div>
                                <div class="mb-2">
                                    <div class="input-group">
                                        <span class="input-group-text" id="bossEmailAddon" ><i class="fa-solid fa-envelope fa-fw"></i></span>
                                        <div class="form-floating">
                                            <input type="text" id="bossEmailInput" th:field="*{boss.email}"
                                                   th:class="${#fields.hasErrors('boss.email')} ? 'form-control is-invalid' : 'form-control'"
                                                   placeholder="Boss email" aria-label="Boss email" aria-describedby="bossEmailAddon"/>
                                            <label for="bossEmailInput" class="text-muted">Email</label>
                                        </div>
                                    </div>
                                    <span class="help-block" th:if="${#fields.hasErrors('boss.email')}">
                                    <ul>
                                        <li class="text-danger text-start"
                                            th:each="err : ${#fields.errors('boss.email')}" th:text="${err}"/>
                                    </ul>
                                </span>
                                </div>
                            </div>
                            <div class="text-end">
                                <button th:if="${!department.isNew()}" class="btn btn-secondary" type="button" onclick="history.back()">Cancel</button>
                                <button class="btn btn-success" th:classappend="${department.isNew() ? '' : 'px-3'}" type="submit" th:text="${department.isNew()} ? 'Create' : '&nbsp;Save&nbsp;'">Create/Save department</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </appMain>
</th:block>
