:root {
    --sidebar-color: #3e4145;
    --header-color: #2a2c30;
    --content-background-color: #e8ebf1;
    --menu-item-active-color: #5c6163;
    --menu-item-hover-color: #4a4d507a;
    --light-green: rgba(192, 242, 189, 0.73);
}
