<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:with="activeMenuItem='Documents'" lang="en">
<!--/*@thymesVar id="document" type="ru.javaprojects.archivist.documents.model.Document"*/-->

<th:block th:replace="~{fragments/main::page(title='Archivist - documents',appMain=~{::appMain}, ownScript=~{::ownScript})}">
    <appMain>
        <!-- Create/Edit Document card -->
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-xxl-10">
                <div class="card shadow">
                    <div class="card-header">
                        <span class="float-end">
                            <button type="button" class="btn-close" aria-label="Close" onclick="closeCard()"></button>
                        </span>
                        <h3 class="text-center ms-4" th:text="${document.isNew()} ? 'New document' : 'Editing: ' + ${document.decimalNumber}">Create/Edit document</h3>
                    </div>
                    <div class="card-body text-center">
                        <nav>
                            <div class="nav nav-tabs" role="tablist">
                                <button class="nav-link active" id="documentGeneralTabButton" data-bs-toggle="tab" data-bs-target="#documentGeneralTab" type="button" role="tab" aria-controls="nav-general" aria-selected="true">General</button>
                                <button class="nav-link" id="documentChangesTabButton" data-bs-toggle="tab" data-bs-target="#documentChangesTab" type="button" role="tab" aria-controls="nav-changes" aria-selected="false" disabled>Changes</button>
                                <button class="nav-link" id="documentApplicabilityTabButton" data-bs-toggle="tab" data-bs-target="#documentApplicabilityTab" type="button" role="tab" aria-controls="nav-applicability" aria-selected="false" disabled>Applicability</button>
                                <button class="nav-link" id="documentSendingTabButton" data-bs-toggle="tab" data-bs-target="#documentSendingTab" type="button" role="tab" aria-controls="nav-sending" aria-selected="false" disabled>Sending</button>
                                <button class="nav-link" id="documentContentTabButton" data-bs-toggle="tab" data-bs-target="#documentContentTab" type="button" role="tab" aria-controls="nav-content" aria-selected="false" disabled>Content</button>
                            </div>
                        </nav>
                        <div class="tab-content text-start ms-2 mt-3">
                            <div class="tab-pane fade show active" id="documentGeneralTab" role="tabpanel" aria-labelledby="nav-general-tab" tabindex="0">
                                <form th:action="@{/documents}" method="post" th:object="${document}">
                                    <input type="hidden" th:field="*{id}">
                                    <div class="mb-3">
                                        <div class="input-group">
                                            <span class="input-group-text doc-card-field px-md-5" id="nameAddon">Name</span>
                                            <input type="text" id="nameInput" th:field="*{name}"
                                                   th:class="${#fields.hasErrors('name')} ? 'form-control is-invalid' : 'form-control'"
                                                   title="" aria-label="Name" aria-describedby="nameAddon" required/>
                                        </div>
                                        <span th:if="${#fields.hasErrors('name')}">
                                            <ul>
                                                <li class="text-danger text-start"
                                                    th:each="err : ${#fields.errors('name')}" th:text="${err}"/>
                                            </ul>
                                        </span>
                                    </div>

                                    <div class="mb-3">
                                        <div class="input-group">
                                            <span class="input-group-text doc-card-field d-none d-md-block">Decimal number</span>
                                            <span class="input-group-text doc-card-field d-md-none" title="Decimal number">Dec. num</span>
                                            <input type="text" id="decimalNumberInput" th:field="*{decimalNumber}"
                                                   th:class="${#fields.hasErrors('decimalNumber')} ? 'form-control is-invalid' : 'form-control'"
                                                   title="" aria-label="Decimal number" required/>
                                        </div>
                                        <span th:if="${#fields.hasErrors('decimalNumber')}">
                                            <ul>
                                                <li class="text-danger text-start"
                                                    th:each="err : ${#fields.errors('decimalNumber')}" th:text="${err}"/>
                                            </ul>
                                        </span>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text doc-card-field" id="statusAddon">Status</span>
                                                <select class="form-control selectpicker border" data-style="btn-white" id="statusSelect"
                                                        th:field="*{status}" title="&nbsp" required aria-label="Status" aria-describedby="statusAddon">
                                                    <option th:each="status : ${statuses}"
                                                            th:value="${status.name}"
                                                            th:text="${status}">
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text doc-card-field" id="symbolAddon">Symbol</span>
                                                <select class="form-control selectpicker border" data-style="btn-white" id="symbolSelect"
                                                        th:field="*{symbol}" title="&nbsp" aria-label="Symbol" aria-describedby="symbolAddon">
                                                    <option value="" selected></option>
                                                    <option th:each="symbol : ${symbols}"
                                                            th:value="${symbol}"
                                                            th:text="${symbol}">
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text doc-card-field px-3" id="typeAddon">Type</span>
                                                <select class="form-control selectpicker border" data-style="btn-white" id="typeSelect"
                                                        th:field="*{type}" title="&nbsp" required aria-label="Type" aria-describedby="typeAddon">
                                                    <option th:each="type : ${types}"
                                                            th:value="${type.name}"
                                                            th:text="${type}">
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-xxl-4">
                                            <div class="mb-3">
                                                <div class="input-group">
                                                    <span class="input-group-text doc-card-field d-none d-md-block px-2">Inventory number</span>
                                                    <span class="input-group-text doc-card-field d-md-none">Inv. num</span>
                                                    <input type="text" id="inventoryNumberInput" th:field="*{inventoryNumber}"
                                                           th:class="${#fields.hasErrors('inventoryNumber')} ? 'form-control is-invalid' : 'form-control'"
                                                           title="" aria-label="Inventory number" required/>
                                                </div>
                                                <span th:if="${#fields.hasErrors('inventoryNumber')}">
                                                    <ul>
                                                        <li class="text-danger text-start"
                                                            th:each="err : ${#fields.errors('inventoryNumber')}" th:text="${err}"/>
                                                    </ul>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-xxl-4">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text doc-card-field d-none d-md-block">Accounting date</span>
                                                <span class="input-group-text doc-card-field d-md-none">Acc. date</span>
                                                <input type="date" id="accountingDateInput" name="accountingDate" th:value="${document.accountingDate}" class="form-control" style="cursor: pointer"
                                                       title="" aria-label="Accounting date" required/>
                                            </div>
                                        </div>
                                        <div class="col-xxl-4 d-none d-xxl-block">
                                            <div class="form-check float-start mb-3 mt-xxl-2">
                                                <input type="checkbox" th:field="*{secret}" class="form-check-input" style="cursor: pointer;" id="secretCheckbox" onchange="$('#secretCheckbox2').prop('checked', $('#secretCheckbox').prop('checked'))">
                                                <label class="form-check-label" for="secretCheckbox">Secret</label>
                                            </div>
                                            <div class="form-check float-end mb-3 mt-xxl-2">
                                                <input type="checkbox" th:field="*{annulled}" class="form-check-input" style="cursor: pointer;" id="annulledCheckbox" onchange="$('#annulledCheckbox2').prop('checked', $('#annulledCheckbox').prop('checked'))">
                                                <label class="form-check-label" for="annulledCheckbox">Annulled</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text doc-card-field d-none d-md-block px-3">Original Holder</span>
                                                <span class="input-group-text doc-card-field d-md-none">O. Holder</span>
                                                <select class="form-control selectpicker border" data-style="btn-white" id="originalHolderSelect"
                                                        name="originalHolder" title="&nbsp" required aria-label="Original Holder">
                                                    <option th:each="company : ${companies}"
                                                            th:value="${company.id}"
                                                            th:text="${company.name}"
                                                            th:selected="${document.originalHolder != null && document.originalHolder.id == company.id}">
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text doc-card-field" id="developerAddon">Developer</span>
                                                <select class="form-control selectpicker border" data-style="btn-white" id="developerSelect"
                                                        name="developer" title="&nbsp" aria-label="Developer" aria-describedby="developerAddon">
                                                    <option value="" selected></option>
                                                    <option th:each="developer : ${developers}"
                                                            th:value="${developer.id}"
                                                            th:text="${developer.name}"
                                                            th:selected="${document.developer != null && document.developer.id == developer.id}">
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row d-xxl-none mb-1 mt-xxl-2">
                                        <div class="col">
                                            <div class="form-check">
                                                <input type="checkbox" th:field="*{secret}" class="form-check-input" style="cursor: pointer;" id="secretCheckbox2" onchange="$('#secretCheckbox').prop('checked', $('#secretCheckbox2').prop('checked'))">
                                                <label class="form-check-label" for="secretCheckbox2">Secret</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-check float-end">
                                                <input type="checkbox" th:field="*{annulled}" class="form-check-input" style="cursor: pointer;" id="annulledCheckbox2" onchange="$('#annulledCheckbox').prop('checked', $('#annulledCheckbox2').prop('checked'))">
                                                <label class="form-check-label" for="annulledCheckbox2">Annulled</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <textarea class="form-control" id="commentTextarea" th:field="*{comment}"
                                                  th:class="${#fields.hasErrors('comment')} ? 'form-control is-invalid' : 'form-control'" style="height: 100px"></textarea>
                                        <label for="commentTextarea">Comment</label>
                                        <span th:if="${#fields.hasErrors('comment')}">
                                            <ul>
                                                <li class="text-danger text-start"
                                                    th:each="err : ${#fields.errors('comment')}" th:text="${err}"/>
                                            </ul>
                                        </span>
                                    </div>
                                    <div class="text-end">
                                        <button th:if="${!document.isNew()}" class="btn btn-secondary" type="button" onclick="history.back()">Cancel</button>
                                        <button class="btn btn-success px-3" type="submit" th:text="${document.isNew()} ? 'Create' : '&nbsp;Save&nbsp;'">Create/Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </appMain>

    <ownScript>
        <script src="/js/close-card-button.js?v=1"></script>
    </ownScript>
</th:block>
