<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:with="activeMenuItem='Documents'" lang="en">
<!--/*@thymesVar id="document" type="ru.javaprojects.archivist.documents.model.Document"*/-->

<th:block th:replace="~{fragments/main::page(title='Archivist - documents',appMain=~{::appMain}, ownScript=~{::ownScript})}">
    <appMain>
        <!-- Create/Edit Document card -->
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-xxl-10">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="text-end mt-3 me-3">
                        <a th:href="@{/documents}" type="button" class="btn-close text-end" aria-label="Close"></a>
                    </div>
                    <div class="card-body px-3 px-md-5 pb-3 pb-md-5 pt-0 text-center">
                        <h3 class="mb-4" th:text="${document.id == null} ? 'New document card' : 'Edit: ' + ${document.decimalNumber}">Create/Edit Document</h3>
                        <nav>
                            <div class="nav nav-tabs" role="tablist">
                                <button class="nav-link active" id="documentGeneralTabButton" data-bs-toggle="tab" data-bs-target="#documentGeneralTab" type="button" role="tab" aria-controls="nav-general" aria-selected="true">General</button>
                                <button class="nav-link" id="documentChangesTabButton" data-bs-toggle="tab" data-bs-target="#documentChangesTab" type="button" role="tab" aria-controls="nav-changes" aria-selected="false" disabled>Changes</button>
                                <button class="nav-link" id="documentApplicabilityTabButton" data-bs-toggle="tab" data-bs-target="#documentApplicabilityTab" type="button" role="tab" aria-controls="nav-applicability" aria-selected="false" disabled>Applicability</button>
                                <button class="nav-link" id="documentSendingTabButton" data-bs-toggle="tab" data-bs-target="#documentSendingTab" type="button" role="tab" aria-controls="nav-sending" aria-selected="false" disabled>Sending</button>
                                <button class="nav-link" id="documentContentTabButton" data-bs-toggle="tab" data-bs-target="#documentContentTab" type="button" role="tab" aria-controls="nav-content" aria-selected="false" disabled>Content</button>
                            </div>
                        </nav>
                        <div class="tab-content text-start ms-2 mt-3">
                            <div class="tab-pane fade show active" id="documentGeneralTab" role="tabpanel" aria-labelledby="nav-general-tab" tabindex="0">
                                <form th:action="@{/documents}" method="post" th:object="${document}">
                                    <input type="hidden" th:field="*{id}">
                                    <div class="mb-3">
                                        <div class="input-group">
                                            <span class="input-group-text doc-card-field px-md-5" id="nameAddon" title="Name">Name</span>
                                            <input type="text" id="nameInput" th:field="*{name}"
                                                   th:class="${#fields.hasErrors('name')} ? 'form-control is-invalid' : 'form-control'"
                                                   title="Name" aria-label="Name" aria-describedby="nameAddon" required/>
                                        </div>
                                        <span th:if="${#fields.hasErrors('name')}">
                                            <ul>
                                                <li class="text-danger text-start"
                                                    th:each="err : ${#fields.errors('name')}" th:text="${err}"/>
                                            </ul>
                                        </span>
                                    </div>

                                    <div class="mb-3">
                                        <div class="input-group">
                                            <span class="input-group-text doc-card-field d-none d-md-block" title="Decimal number">Decimal number</span>
                                            <span class="input-group-text doc-card-field d-md-none" title="Decimal number">Dec. num</span>
                                            <input type="text" id="decimalNumberInput" th:field="*{decimalNumber}"
                                                   th:class="${#fields.hasErrors('decimalNumber')} ? 'form-control is-invalid' : 'form-control'"
                                                   title="Decimal number" aria-label="Decimal number" required/>
                                        </div>
                                        <span th:if="${#fields.hasErrors('decimalNumber')}">
                                            <ul>
                                                <li class="text-danger text-start"
                                                    th:each="err : ${#fields.errors('decimalNumber')}" th:text="${err}"/>
                                            </ul>
                                        </span>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text doc-card-field" id="statusAddon" title="Status">Status</span>
                                                <select class="form-control selectpicker border" data-style="btn-white" id="statusSelect"
                                                        th:field="*{status}" title="&nbsp" required aria-label="Status" aria-describedby="statusAddon">
                                                    <option th:each="status : ${statuses}"
                                                            th:value="${status}"
                                                            th:text="${status.displayName}">
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text doc-card-field" id="letterAddon" title="Letter">Letter</span>
                                                <select class="form-control selectpicker border" data-style="btn-white" id="letterSelect"
                                                        th:field="*{letter}" title="&nbsp"  aria-label="Letter" aria-describedby="letterAddon">
                                                    <option value="" selected></option>
                                                    <option th:each="letter : ${letters}"
                                                            th:value="${letter}"
                                                            th:text="${letter}">
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text doc-card-field px-3" id="typeAddon" title="Type">Type</span>
                                                <select class="form-control selectpicker border" data-style="btn-white" id="typeSelect"
                                                        th:field="*{type}" title="&nbsp" required aria-label="Type" aria-describedby="typeAddon">
                                                    <option th:each="type : ${types}"
                                                            th:value="${type}"
                                                            th:text="${type.displayName}">
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-xxl-4">
                                            <div class="mb-3">
                                                <div class="input-group">
                                                    <span class="input-group-text doc-card-field d-none d-md-block px-2" title="Inventory number">Inventory number</span>
                                                    <span class="input-group-text doc-card-field d-md-none" title="Inventory number">Inv. num</span>
                                                    <input type="text" id="inventoryNumberInput" th:field="*{inventoryNumber}"
                                                           th:class="${#fields.hasErrors('inventoryNumber')} ? 'form-control is-invalid' : 'form-control'"
                                                           title="Inventory number" aria-label="Inventory number" required/>
                                                </div>
                                                <span th:if="${#fields.hasErrors('inventoryNumber')}">
                                                    <ul>
                                                        <li class="text-danger text-start"
                                                            th:each="err : ${#fields.errors('inventoryNumber')}" th:text="${err}"/>
                                                    </ul>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-xxl-4">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text doc-card-field d-none d-md-block" title="Accounting date">Accounting date</span>
                                                <span class="input-group-text doc-card-field d-md-none" title="Accounting date">Acc. date</span>
                                                <input type="date" id="accountingDateInput" name="accountingDate" th:value="${document.accountingDate}" class="form-control" style="cursor: pointer"
                                                       title="Accounting date" aria-label="Accounting date" required/>
                                            </div>
                                        </div>
                                        <div class="col-xxl-4 d-none d-xxl-block">
                                            <div class="form-check float-end mb-3 mt-xxl-2">
                                                <input type="checkbox" th:field="*{annulled}" class="form-check-input" style="cursor: pointer;" id="annulledCheckbox">
                                                <label class="form-check-label" for="annulledCheckbox">Annulled</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text doc-card-field d-none d-md-block px-3" title="Original Holder">Original Holder</span>
                                                <span class="input-group-text doc-card-field d-md-none" title="Original Holder">O. Holder</span>
                                                <select class="form-control selectpicker border" data-style="btn-white" id="originalHolderSelect"
                                                        name="originalHolder" title="&nbsp" required aria-label="Original Holder">
                                                    <option th:each="company : ${companies}"
                                                            th:value="${company.id}"
                                                            th:text="${company.name}"
                                                            th:selected="${document.originalHolder != null && document.originalHolder.id == company.id}">
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text doc-card-field" id="developerAddon" title="Developer">Developer</span>
                                                <select class="form-control selectpicker border" data-style="btn-white" id="developerSelect"
                                                        name="developer" title="&nbsp" aria-label="Developer" aria-describedby="developerAddon">
                                                    <option value="" selected></option>
                                                    <option th:each="developer : ${developers}"
                                                            th:value="${developer.id}"
                                                            th:text="${developer.name}"
                                                            th:selected="${document.developer != null && document.developer.id == developer.id}">
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-xxl-none mb-3">
                                        <div class="form-check float-end mb-3 mt-xxl-2">
                                            <input type="checkbox" th:field="*{annulled}" class="form-check-input" style="cursor: pointer;" id="annulledCheckbox2">
                                            <label class="form-check-label" for="annulledCheckbox2">Annulled</label>
                                        </div>
                                    </div>
                                    <div class="mb-4">
                                        <label for="commentTextarea" class="form-label">Comment</label>
                                        <textarea id="commentTextarea" th:field="*{comment}" title="Comment"
                                                  th:class="${#fields.hasErrors('comment')} ? 'form-control is-invalid' : 'form-control'"/>
                                        <span th:if="${#fields.hasErrors('comment')}">
                                            <ul>
                                                <li class="text-danger text-start"
                                                    th:each="err : ${#fields.errors('comment')}" th:text="${err}"/>
                                            </ul>
                                        </span>
                                    </div>
                                    <div class="text-end">
                                        <a th:if="${!document.isNew()}" th:href="@{'/documents/' + ${document.id}}" class="btn btn-secondary" type="button">Cancel</a>
                                        <button class="btn btn-success" type="submit" th:text="${document.isNew()} ? 'Create card' : 'Save card'">Create/Save document card</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </appMain>
</th:block>
