<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:with="activeMenuItem='Documents'" lang="en">
<!--/*@thymesVar id="document" type="ru.javaprojects.archivist.documents.model.Document"*/-->

<th:block th:replace="~{fragments/main::page(title='Archivist - documents',appMain=~{::appMain}, ownScript=~{::ownScript})}">
    <appMain>
        <span th:if="${action != null}" th:data-action="${action}" th:id="actionSpan"></span>
        <!-- Document details card -->
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-xxl-10">
                <div class="card shadow">
                    <div class="card-header">
                        <span th:if="${document.annulled}" class="badge bg-danger float-start me-1">Annulled</span>
                        <span th:if="${document.secret}" class="badge bg-warning float-start">Secret</span>
                        <span class="float-end">
                            <button type="button" class="btn-close" aria-label="Close" onclick="closeCard()"></button>
                        </span>
                        <h3 class="text-center ms-4" th:classappend="${document.annulled} ? 'px-5' : ''" th:text="${document.decimalNumber}">Document decimal number</h3>
                    </div>
                    <div class="card-body text-center">
                        <nav>
                            <div class="nav nav-tabs" role="tablist">
                                <button class="nav-link active" id="documentGeneralTabButton" data-bs-toggle="tab" data-bs-target="#documentGeneralTab" type="button" role="tab" aria-controls="nav-general" aria-selected="true">General</button>
                                <button class="nav-link" id="documentChangesTabButton" data-bs-toggle="tab" data-bs-target="#documentChangesTab" type="button" role="tab" aria-controls="nav-changes" aria-selected="false">Changes</button>
                                <button class="nav-link" id="documentApplicabilityTabButton" data-bs-toggle="tab" data-bs-target="#documentApplicabilityTab" type="button" role="tab" aria-controls="nav-applicability" aria-selected="false">Applicability</button>
                                <button class="nav-link" id="documentSubscribersTabButton" data-bs-toggle="tab" data-bs-target="#documentSubscribersTab" type="button" role="tab" aria-controls="nav-subscribers" aria-selected="false">Subscribers</button>
                                <button class="nav-link" id="documentContentTabButton" data-bs-toggle="tab" data-bs-target="#documentContentTab" type="button" role="tab" aria-controls="nav-content" aria-selected="false">Content</button>
                            </div>
                        </nav>
                        <div class="tab-content text-start ms-2">
                            <!-- General Tab-->
                            <div class="tab-pane fade show active mt-3" id="documentGeneralTab" role="tabpanel" aria-labelledby="nav-general-tab" tabindex="0">
                                <div th:object="${document}">
                                    <input type="hidden" id="documentId" th:value="*{id}">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text doc-card-field px-md-5" id="nameAddon">Name</span>
                                        <input type="text" id="nameInput" th:field="*{name}" class="form-control bg-light" disabled
                                               aria-label="Name" aria-describedby="nameAddon"/>
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text doc-card-field d-none d-md-block">Decimal number</span>
                                        <span class="input-group-text doc-card-field d-md-none">Dec. num</span>
                                        <input type="text" id="decimalNumberInput" th:field="*{decimalNumber}" class="form-control bg-light" disabled
                                               aria-label="Decimal number"/>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text doc-card-field" id="statusAddon">Status</span>
                                                <input type="text" id="statusInput" th:value="*{status}" class="form-control bg-light" disabled
                                                       aria-label="Status" aria-describedby="statusAddon"/>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text doc-card-field" id="symbolAddon">Symbol</span>
                                                <input type="text" id="symbolInput" th:field="*{symbol}" class="form-control bg-light" disabled
                                                       aria-label="Symbol" aria-describedby="symbolAddon"/>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text doc-card-field px-3" id="typeAddon">Type</span>
                                                <input type="text" id="typeInput" th:value="*{type}" class="form-control bg-light" disabled
                                                       aria-label="Type" aria-describedby="typeAddon"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-xxl-4">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text doc-card-field d-none d-md-block px-2">Inventory number</span>
                                                <span class="input-group-text doc-card-field d-md-none">Inv. num</span>
                                                <input type="text" id="inventoryNumberInput" th:field="*{inventoryNumber}" class="form-control bg-light" disabled
                                                       aria-label="Inventory number"/>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-xxl-4">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text doc-card-field d-none d-md-block">Accounting date</span>
                                                <span class="input-group-text doc-card-field d-md-none">Acc. date</span>
                                                <input type="text" id="accountingDateInput" th:value="${#temporals.format(document.accountingDate, 'dd.MM.yyyy')}" class="form-control bg-light" disabled
                                                       aria-label="Accounting date"/>
                                            </div>
                                        </div>
                                        <div class="col-xxl-4 d-none d-xxl-block">
                                            <div class="form-check mb-3 mt-xxl-2">
                                                <input type="checkbox" th:field="*{secret}" class="form-check-input" th:classappend="*{secret} == false ? 'bg-light' : ''" disabled id="secretCheckbox"> Secret
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text doc-card-field d-none d-md-block px-3">Original Holder</span>
                                                <span class="input-group-text doc-card-field d-md-none">O. Holder</span>
                                                <input type="text" id="originalHolderInput" th:field="*{originalHolder.name}" class="form-control bg-light" disabled
                                                       aria-label="Original Holder"/>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text doc-card-field" id="developerAddon">Developer</span>
                                                <input type="text" id="developerInput" th:field="*{developer.name}" class="form-control bg-light" disabled
                                                       aria-label="Developer" aria-describedby="developerAddon"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-xxl-none mb-1 mt-xxl-2">
                                        <div class="form-check">
                                            <input type="checkbox" th:field="*{secret}" class="form-check-input" disabled id="secretCheckbox2"> Secret
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="commentTextarea" class="form-label">Comment</label>
                                        <textarea id="commentTextarea" th:field="*{comment}" class="form-control bg-light" disabled />
                                    </div>
                                </div>
                                <div sec:authorize="hasAnyRole('ADMIN','ARCHIVIST')" class="text-end">
                                    <a th:href="@{'/documents/edit/' + ${document.id}}" class="btn btn-warning px-4" type="button">Edit</a>
                                </div>
                            </div>

                            <!-- Changes Tab-->
                            <div class="tab-pane fade mt-2" id="documentChangesTab" role="tabpanel" aria-labelledby="nav-changes-tab" tabindex="0">
                                <form id="inputChangeForm" onsubmit="return false;"></form>
                                <div class="table-responsive text-nowrap">
                                    <table class="table table-hover" id="changesTable">
                                        <thead style="border-bottom: transparent;">
                                        <tr>
                                            <th class="col-4" id="changeNumberTh" hidden>Change number</th>
                                            <th class="col-3" id="changeNoticeTh" hidden>Change notice</th>
                                            <th class="col-2" id="changeDateTh" hidden>Change date</th>
                                            <th class="text-end pt-0 pe-0">
                                                <button sec:authorize="hasAnyRole('ADMIN','ARCHIVIST')" class="btn btn-sm btn-primary" id="addChangeButton" onclick="showInputChangeRow()">Add change</button>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody class="table-group-divider"></tbody>
                                    </table>
                                </div>
                            </div>

                            <!-- Applicability Tab-->
                            <div class="tab-pane fade mt-2" id="documentApplicabilityTab" role="tabpanel" aria-labelledby="nav-applicability-tab" tabindex="0">
                                <form id="inputApplicabilityForm" onsubmit="return false;"></form>
                                <div class="table-responsive text-nowrap">
                                    <table class="table table-hover" id="applicabilitiesTable">
                                        <thead style="border-bottom: transparent;">
                                        <tr>
                                            <th class="col-3" id="decimalNumberTh" hidden>Decimal number</th>
                                            <th class="col-6" id="nameTh" hidden>Name</th>
                                            <th class="text-end pt-0 pe-0">
                                                <button sec:authorize="hasAnyRole('ADMIN','ARCHIVIST')" class="btn btn-sm btn-primary" id="addApplicabilityButton" onclick="showInputApplicabilityRow()">Add applicability</button>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody class="table-group-divider"></tbody>
                                    </table>
                                </div>
                            </div>

                            <!-- Subscribers Tab-->
                            <div class="tab-pane fade mt-2" id="documentSubscribersTab" role="tabpanel" aria-labelledby="nav-subscribers-tab" tabindex="0">
                                <div sec:authorize="hasAnyRole('ADMIN','ARCHIVIST')" class="text-end mb-1">
                                    <button class="btn btn-sm btn-primary mb-1" data-bs-toggle="modal" data-bs-target="#addSendingModal">Add sending</button>
                                </div>
                                <div class="row row-cols-1 row-cols-md-2 row-cols-xxl-3">
                                    <div class="col pe-xxl-1" id="subscriberColumn1"></div>
                                    <div class="col px-xxl-1" id="subscriberColumn2"></div>
                                    <div class="col ps-xxl-1" id="subscriberColumn3"></div>
                                </div>
                            </div>

                            <!-- Content Tab-->
                            <div class="tab-pane fade mt-2" id="documentContentTab" role="tabpanel" aria-labelledby="nav-content-tab" tabindex="0">
                                <div sec:authorize="hasAnyRole('ADMIN','ARCHIVIST')" class="text-end" id="addContentButtonDiv">
                                    <button class="btn btn-sm btn-primary" onclick="showInputContentDiv()">Add content</button>
                                </div>
                                <div id="inputContentDiv" hidden>
                                    <form onsubmit="return false;">
                                        <div class="row row-cols-2 row-cols-md-3 d-flex align-items-center">
                                            <div class="col-12 col-md-6">
                                                <input type="file" multiple id="contentFilesInput" class="form-control" required style="color: gray" onchange="changeFileInputColor('contentFilesInput', 'gray')"/>
                                            </div>
                                            <div class="col-6 col-md-3">
                                                <input type="number" id="contentChangeNumberInput" class="form-control" title="" placeholder="Change number" required/>
                                            </div>
                                            <div class="col-6 col-md-3 btn-toolbar py-2">
                                                <button type="submit" class="btn btn-sm btn-success px-3 me-1" onclick="createContent()">Save</button>
                                                <button type="button" class="btn btn-sm btn-secondary" onclick="cancelAddContent()">Cancel</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div th:classappend="${authUser.user.roles.size() == 1 ? 'mt-3' : 'mt-2'}" id="contentArea"></div>
                                <button hidden class="btn btn-sm btn-light" id="showPreviousContentButton"
                                        onclick="getAllContents()">Show previous</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Delete Applicability modal -->
        <div class="modal fade" id="deleteApplicabilityModal" tabindex="-1" aria-labelledby="deleteApplicabilityModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="deleteApplicabilityModalLabel">Are you sure want to delete applicability?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <input type="hidden" name="applicabilityId" id="deleteApplicabilityModalApplicabilityId" value=""/>
                    <input type="hidden" name="applicabilityDecimalNumber" id="deleteApplicabilityModalApplicabilityDecimalNumber" value=""/>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-danger" onclick="deleteApplicability()">Delete</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Delete Content modal -->
        <div class="modal fade" id="deleteContentModal" tabindex="-1" aria-labelledby="deleteContentModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="deleteContentModalLabel">Are you sure want to delete content?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <input type="hidden" name="contentId" id="deleteContentModalContentId" value=""/>
                    <input type="hidden" name="contentChangeNumber" id="deleteContentModalContentChangeNumber" value=""/>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-danger" onclick="deleteContent()">Delete</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Add sending modal -->
        <div class="modal fade" id="addSendingModal" tabindex="-1" aria-labelledby="addSendingModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="addSendingModalLabel">New sending</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form id="addSendingForm" onsubmit="return false;">
                        <div class="modal-body">
                            <div class="mb-4 mt-3">
                                <div class="input-group">
                                    <span class="input-group-text sending-title-field">Company</span>
                                    <select class="form-select" id="companySelector" title="" required></select>
                                </div>
                                <div class="input-group mt-3">
                                    <span class="input-group-text sending-title-field">Status</span>
                                    <select class="form-select" id="statusSelector" title="" required>
                                        <option value="DUPLICATE">Duplicate</option>
                                        <option value="ACCOUNTED_COPY">Accounted copy</option>
                                        <option value="UNACCOUNTED_COPY">Unaccounted copy</option>
                                    </select>
                                </div>
                                <div class="row row-cols-1 row-cols-md-2">
                                    <div class="col">
                                        <div class="input-group mt-3">
                                            <span class="input-group-text sending-title-field">Invoice num</span>
                                            <input type="text" class="form-control" title="" id="invoiceNumInput" required>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="input-group mt-3">
                                            <span class="input-group-text d-none d-md-block">Date</span>
                                            <span class="input-group-text sending-title-field d-md-none">Invoice date</span>
                                            <input type="date" class="form-control" id="invoiceDateInput" title="" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row row-cols-1 row-cols-md-2">
                                    <div class="col">
                                        <div class="input-group mt-3">
                                            <span class="input-group-text sending-title-field">Letter num</span>
                                            <input type="text" class="form-control" id="letterNumInput">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="input-group mt-3">
                                            <span class="input-group-text d-none d-md-block">Date</span>
                                            <span class="input-group-text sending-title-field d-md-none">Letter date</span>
                                            <input type="date" class="form-control" id="letterDateInput" onchange="$('#letterDateInput').css('color', 'black')">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-success px-3" onclick="createSending()">&nbsp;Save&nbsp;</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Unsubscribe modal -->
        <div class="modal fade" id="unsubscribeModal" tabindex="-1" aria-labelledby="unsubscribeModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="unsubscribeModalLabel">Are you sure want to unsubscribe?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form id="unsubscribeForm" onsubmit="return false;">
                        <div class="modal-body">
                            <input type="hidden" name="subscriberId" id="unsubscribeModalSubscriberId" value=""/>
                            <input type="hidden" name="subscriberName" id="unsubscribeModalSubscriberName" value=""/>
                            <label for="unsubscribeModalUnsubscribeReason" class="form-label">Unsubscribe reason</label>
                            <textarea class="form-control" id="unsubscribeModalUnsubscribeReason" title="" required></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-danger" onclick="unsubscribe()">Unsubscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Resubscribe modal -->
        <div class="modal fade" id="resubscribeModal" tabindex="-1" aria-labelledby="resubscribeModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="resubscribeModalLabel">Are you sure want to resubscribe?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <input type="hidden" name="subscriberId" id="resubscribeModalSubscriberId" value=""/>
                    <input type="hidden" name="subscriberName" id="resubscribeModalSubscriberName" value=""/>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-success" onclick="resubscribe()">Resubscribe</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Subscriber info modal -->
        <div class="modal fade" id="subscriberInfoModal" tabindex="-1" aria-labelledby="subscriberInfoModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="subscriberInfoModalLabel">Subscriber info</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" id="subscriberInfoModalCloseButton" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div id="unsubscribeInfo"></div>
                        <h5 class="text-secondary fw-bold mb-0">Sendings</h5>
                        <div class="table-responsive text-nowrap">
                            <table class="table table-hover" hidden id="sendingsTable">
                                <thead>
                                <tr>
                                    <th>Doc status</th>
                                    <th>Invoice</th>
                                    <th>Letter</th>
                                </tr>
                                </thead>
                                <tbody class="table-group-divider"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </appMain>

    <ownScript>
        <script src="/js/common.js?v=1"></script>
        <script src="/js/document.js?v=1"></script>
        <script src="/js/close-card-button.js?v=1"></script>
    </ownScript>
</th:block>
