<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:with="activeMenuItem='Documents'" lang="en">
<!--/*@thymesVar id="document" type="ru.javaprojects.archivist.documents.model.Document"*/-->

<th:block th:replace="~{fragments/main::page(title='Archivist - documents',appMain=~{::appMain}, ownScript=~{::ownScript})}">
    <appMain>
        <span th:if="${action != null}" th:data-action="${action}" th:id="actionSpan"></span>
        <!-- Document details card -->
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-xxl-10">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="mt-3 me-3">
                        <div class="row">
                            <div class="col-6">
                                <span th:if="${document.annulled}" class="badge bg-danger ms-3 ms-md-5">Annulled</span>
                            </div>
                            <div class="col-6 text-end">
                                <a th:href="@{/documents}" type="button" class="btn-close text-end" aria-label="Close"></a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body px-3 px-md-5 pb-3 pb-md-5 pt-0 text-center">
                        <h3 class="mb-4" th:text="${document.decimalNumber}">Document decimal number</h3>
                        <nav>
                            <div class="nav nav-tabs" role="tablist">
                                <button class="nav-link active" id="documentGeneralTabButton" data-bs-toggle="tab" data-bs-target="#documentGeneralTab" type="button" role="tab" aria-controls="nav-general" aria-selected="true">General</button>
                                <button class="nav-link" id="documentChangesTabButton" data-bs-toggle="tab" data-bs-target="#documentChangesTab" type="button" role="tab" aria-controls="nav-changes" aria-selected="false">Changes</button>
                                <button class="nav-link" id="documentApplicabilityTabButton" data-bs-toggle="tab" data-bs-target="#documentApplicabilityTab" type="button" role="tab" aria-controls="nav-applicability" aria-selected="false">Applicability</button>
                                <button class="nav-link" id="documentSubscribersTabButton" data-bs-toggle="tab" data-bs-target="#documentSubscribersTab" type="button" role="tab" aria-controls="nav-subscribers" aria-selected="false">Subscribers</button>
                                <button class="nav-link" id="documentContentTabButton" data-bs-toggle="tab" data-bs-target="#documentContentTab" type="button" role="tab" aria-controls="nav-content" aria-selected="false">Content</button>
                            </div>
                        </nav>
                        <div class="tab-content text-start ms-2">
                            <!-- General Tab-->
                            <div class="tab-pane fade show active mt-3" id="documentGeneralTab" role="tabpanel" aria-labelledby="nav-general-tab" tabindex="0">
                                <div th:object="${document}">
                                    <input type="hidden" id="documentId" th:value="*{id}">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text doc-card-field px-md-5" id="nameAddon" title="Name">Name</span>
                                        <input type="text" id="nameInput" th:field="*{name}" class="form-control bg-light" disabled
                                               title="Name" aria-label="Name" aria-describedby="nameAddon"/>
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text doc-card-field d-none d-md-block" title="Decimal number">Decimal number</span>
                                        <span class="input-group-text doc-card-field d-md-none" title="Decimal number">Dec. num</span>
                                        <input type="text" id="decimalNumberInput" th:field="*{decimalNumber}" class="form-control bg-light" disabled
                                               title="Decimal number" aria-label="Decimal number"/>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text doc-card-field" id="statusAddon" title="Status">Status</span>
                                                <input type="text" id="statusInput" th:value="*{status.displayName}" class="form-control bg-light" disabled
                                                       title="Status" aria-label="Status" aria-describedby="statusAddon"/>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text doc-card-field" id="symbolAddon" title="Symbol">Symbol</span>
                                                <input type="text" id="symbolInput" th:field="*{symbol}" class="form-control bg-light" disabled
                                                       title="Symbol" aria-label="Symbol" aria-describedby="symbolAddon"/>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text doc-card-field px-3" id="typeAddon" title="Type">Type</span>
                                                <input type="text" id="typeInput" th:value="*{type.displayName}" class="form-control bg-light" disabled
                                                       title="Type" aria-label="Type" aria-describedby="typeAddon"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-xxl-4">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text doc-card-field d-none d-md-block px-2" title="Inventory number">Inventory number</span>
                                                <span class="input-group-text doc-card-field d-md-none" title="Inventory number">Inv. num</span>
                                                <input type="text" id="inventoryNumberInput" th:field="*{inventoryNumber}" class="form-control bg-light" disabled
                                                       title="Inventory number" aria-label="Inventory number"/>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-xxl-4">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text doc-card-field d-none d-md-block" title="Accounting date">Accounting date</span>
                                                <span class="input-group-text doc-card-field d-md-none" title="Accounting date">Acc. date</span>
                                                <input type="text" id="accountingDateInput" th:value="${#temporals.format(document.accountingDate, 'dd.MM.yyyy')}" class="form-control bg-light" disabled
                                                       title="Accounting date" aria-label="Accounting date"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text doc-card-field d-none d-md-block px-3" title="Original Holder">Original Holder</span>
                                                <span class="input-group-text doc-card-field d-md-none" title="Original Holder">O. Holder</span>
                                                <input type="text" id="originalHolderInput" th:field="*{originalHolder.name}" class="form-control bg-light" disabled
                                                       title="Original Holder" aria-label="Original Holder"/>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text doc-card-field" id="developerAddon" title="Developer">Developer</span>
                                                <input type="text" id="developerInput" th:field="*{developer.name}" class="form-control bg-light" disabled
                                                       title="Developer" aria-label="Developer" aria-describedby="developerAddon"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-4">
                                        <label for="commentTextarea" class="form-label">Comment</label>
                                        <textarea id="commentTextarea" th:field="*{comment}" class="form-control bg-light" disabled title="Comment"/>
                                    </div>
                                </div>
                                <div sec:authorize="hasAnyRole('ADMIN','ARCHIVIST')" class="float-end">
                                    <a th:href="@{'/documents/edit/' + ${document.id}}" class="btn btn-sm btn-warning" type="button">Edit card</a>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="documentChangesTab" role="tabpanel" aria-labelledby="nav-changes-tab" tabindex="0"></div>

                            <!-- Applicability Tab-->
                            <div class="tab-pane fade mt-2" id="documentApplicabilityTab" role="tabpanel" aria-labelledby="nav-applicability-tab" tabindex="0">
                                <div class="text-end" id="addApplicabilityButtonDiv">
                                    <button class="btn btn-sm btn-secondary" title="Add applicability" onclick="showInputApplicabilityDiv()">Add applicability</button>
                                </div>
                                <div id="inputApplicabilityDiv" hidden>
                                    <form onsubmit="return false;">
                                        <div class="row row-cols-2 row-cols-sm-3 d-flex align-items-center">
                                            <div class="col-8 col-sm-6">
                                                <input type="text" id="applicabilityDecNumberInput" class="form-control" title="Decimal number"
                                                       aria-label="Decimal number" placeholder="Applicability decimal number" required/>
                                            </div>
                                            <div class="col-4 col-sm-auto">
                                                <div class="form-check">
                                                    <input type="checkbox" id="primalCheckbox" class="form-check-input" style="cursor: pointer;">
                                                    <label class="form-check-label" for="primalCheckbox">Primal</label>
                                                </div>
                                            </div>
                                            <div class="col-6 col-sm-4 btn-toolbar text-start py-2">
                                                <button type="submit" class="btn btn-sm btn-success px-3 me-1" title="Save" onclick="createApplicability()">Save</button>
                                                <button type="button" class="btn btn-sm btn-secondary" title="Cancel" onclick="cancelAddApplicability()">Cancel</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div class="table-responsive text-nowrap">
                                    <table class="table table-hover" hidden id="applicabilitiesTable">
                                        <thead>
                                        <tr>
                                            <th class="w-25 pt-0">Decimal number</th>
                                            <th class="pt-0">Name</th>
                                            <th class="pt-0"></th>
                                        </tr>
                                        </thead>
                                        <tbody class="table-group-divider"></tbody>
                                    </table>
                                </div>
                            </div>

                            <!-- Subscribers Tab-->
                            <div class="tab-pane fade mt-2" id="documentSubscribersTab" role="tabpanel" aria-labelledby="nav-subscribers-tab" tabindex="0">
                                <div class="text-end mb-1">
                                    <button class="btn btn-sm btn-secondary" title="Add sending" data-bs-toggle="modal" data-bs-target="#addSendingModal">Add sending</button>
                                </div>
                                <div class="row row-cols-1 row-cols-md-2 row-cols-xxl-3">
                                    <div class="col" id="subscriberColumn1"></div>
                                    <div class="col" id="subscriberColumn2"></div>
                                    <div class="col" id="subscriberColumn3"></div>
                                </div>
                            </div>

                            <!-- Content Tab-->
                            <div class="tab-pane fade mt-2" id="documentContentTab" role="tabpanel" aria-labelledby="nav-content-tab" tabindex="0">
                                <div class="text-end" id="addContentButtonDiv">
                                    <button class="btn btn-sm btn-secondary" title="Add content" onclick="showInputContentDiv()">Add content</button>
                                </div>
                                <div id="inputContentDiv" hidden>
                                    <form onsubmit="return false;">
                                        <div class="row row-cols-2 row-cols-md-3 d-flex align-items-center">
                                            <div class="col-12 col-md-6">
                                                <input type="file" multiple id="contentFilesInput" class="form-control" required/>
                                            </div>
                                            <div class="col-6 col-md-3">
                                                <input type="number" id="contentChangeNumberInput" class="form-control" title="Change number" placeholder="Change number" required/>
                                            </div>
                                            <div class="col-6 col-md-3 btn-toolbar py-2">
                                                <button type="submit" class="btn btn-sm btn-success px-3 me-1" title="Save" onclick="createContent()">Save</button>
                                                <button type="button" class="btn btn-sm btn-secondary" title="Cancel" onclick="cancelAddContent()">Cancel</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="mt-2" id="contentArea"></div>
                                <button hidden class="btn btn-sm btn-light" id="showPreviousContentButton"
                                        title="Show previous content" onclick="getAllContents()">Show previous</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Delete Applicability modal -->
        <div class="modal fade" id="deleteApplicabilityModal" tabindex="-1" aria-labelledby="deleteApplicabilityModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="deleteApplicabilityModalLabel">Are you sure want to delete applicability?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <input type="hidden" name="applicabilityId" id="deleteApplicabilityModalApplicabilityId" value=""/>
                    <input type="hidden" name="applicabilityDecimalNumber" id="deleteApplicabilityModalApplicabilityDecimalNumber" value=""/>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-danger" onclick="deleteApplicability()">Delete applicability</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Delete Content modal -->
        <div class="modal fade" id="deleteContentModal" tabindex="-1" aria-labelledby="deleteContentModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="deleteContentModalLabel">Are you sure want to delete content?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <input type="hidden" name="contentId" id="deleteContentModalContentId" value=""/>
                    <input type="hidden" name="contentChangeNumber" id="deleteContentModalContentChangeNumber" value=""/>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-danger" onclick="deleteContent()">Delete content</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Add sending modal -->
        <div class="modal fade" id="addSendingModal" tabindex="-1" aria-labelledby="addSendingModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="addSendingModalLabel">Add new sending</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form id="addSendingForm" onsubmit="return false;">
                        <div class="modal-body">
                            <div class="mb-4 mt-3">
                                <div class="input-group">
                                    <span class="input-group-text sending-title-field" title="Company">Company</span>
                                    <select class="form-select" id="companySelector" required></select>
                                </div>
                                <div class="input-group mt-3">
                                    <span class="input-group-text sending-title-field" title="Status">Status</span>
                                    <select class="form-select" id="statusSelector" required>
                                        <option value="DUPLICATE">Duplicate</option>
                                        <option value="ACCOUNTED_COPY">Accounted copy</option>
                                        <option value="UNACCOUNTED_COPY">Unaccounted copy</option>
                                    </select>
                                </div>
                                <div class="row row-cols-1 row-cols-md-2">
                                    <div class="col">
                                        <div class="input-group mt-3">
                                            <span class="input-group-text sending-title-field" title="Invoice number">Invoice num</span>
                                            <input type="text" class="form-control" id="invoiceNumInput" required>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="input-group mt-3">
                                            <span class="input-group-text d-none d-md-block" title="Invoice date">Date</span>
                                            <span class="input-group-text sending-title-field d-md-none" title="Invoice date">Invoice date</span>
                                            <input type="date" class="form-control" id="invoiceDateInput" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row row-cols-1 row-cols-md-2">
                                    <div class="col">
                                        <div class="input-group mt-3">
                                            <span class="input-group-text sending-title-field" title="Letter number">Letter num</span>
                                            <input type="text" class="form-control" id="letterNumInput">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="input-group mt-3">
                                            <span class="input-group-text d-none d-md-block" title="Letter date">Date</span>
                                            <span class="input-group-text sending-title-field d-md-none" title="Letter date">Letter date</span>
                                            <input type="date" class="form-control" id="letterDateInput" onchange="$('#letterDateInput').css('color', 'black')">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-warning" onclick="createSending()">Add sending</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Unsubscribe modal -->
        <div class="modal fade" id="unsubscribeModal" tabindex="-1" aria-labelledby="unsubscribeModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="unsubscribeModalLabel">Are you sure want to unsubscribe?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form id="unsubscribeForm" onsubmit="return false;">
                        <div class="modal-body">
                            <input type="hidden" name="subscriberId" id="unsubscribeModalSubscriberId" value=""/>
                            <input type="hidden" name="subscriberName" id="unsubscribeModalSubscriberName" value=""/>
                            <label for="unsubscribeModalUnsubscribeReason" class="form-label">Unsubscribe reason</label>
                            <textarea class="form-control" id="unsubscribeModalUnsubscribeReason" required></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-danger" onclick="unsubscribe()">Unsubscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Resubscribe modal -->
        <div class="modal fade" id="resubscribeModal" tabindex="-1" aria-labelledby="resubscribeModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="resubscribeModalLabel">Are you sure want to resubscribe?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <input type="hidden" name="subscriberId" id="resubscribeModalSubscriberId" value=""/>
                    <input type="hidden" name="subscriberName" id="resubscribeModalSubscriberName" value=""/>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success" onclick="resubscribe()">Resubscribe</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Subscriber info modal -->
        <div class="modal fade" id="subscriberInfoModal" tabindex="-1" aria-labelledby="subscriberInfoModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="subscriberInfoModalLabel">Subscriber info</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" id="subscriberInfoModalCloseButton" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div id="unsubscribeInfo"></div>
                        <h5 class="text-secondary fw-bold mb-0">Sendings</h5>
                        <div class="table-responsive text-nowrap">
                            <table class="table table-hover" hidden id="sendingsTable">
                                <thead>
                                <tr>
                                    <th>Doc status</th>
                                    <th>Invoice</th>
                                    <th>Letter</th>
                                </tr>
                                </thead>
                                <tbody class="table-group-divider"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </appMain>


    <ownScript>
        <script src="/js/common.js?v=1"></script>
        <script src="/js/document-details.js?v=1"></script>
    </ownScript>
</th:block>

<script>
    const subscriberMap = new Map();
    const companySelector = $('#companySelector');

    $('#documentSubscribersTabButton').on('shown.bs.tab', () => {
        getSubscribers();
    });

    function getSubscribers() {
        clearSubscriberColumns();
        $.ajax({
            url: `/documents/${documentId}/subscribers`
        }).done(subscribers => {
            if (subscribers.length !== 0) {
                let index = 0;
                subscribers.forEach(subscriber => {
                    subscriberMap.set(subscriber.id, subscriber);
                    subscriberColumns[index].append(generateSubscriberCard(subscriber));
                    index++;
                });
            }
        }).fail(function (data) {
            handleError(data, `Failed to get subscribers`);
        });
    }

    function clearSubscriberColumns() {
        subscriberColumns.forEach(subscriberColumn => subscriberColumn.empty());
    }

    function generateSubscriberCard(subscriber) {
        let card = $('<div></div>').addClass(`card mt-1 bg-${subscriber.subscribed ? 'light-green' : 'light'}`);
        let cardBody = $('<div></div>').addClass('card-body p-2 text-start');
        let titleRow = $('<div></div>').addClass('row card-title me-2').html(`<div class="col-11 text-truncate">${subscriber.company.name}</div>
                                        <div class="col-1 pe-2"><a type="button" title="Show info" class="ms-1" data-bs-toggle="modal"
                                        data-bs-target="#subscriberInfoModal" data-subscriberid='${subscriber.id}'>
                                        <i class="fa-solid fa-circle-info"></i></a></div>`);
        cardBody.append(titleRow);
        let infoRow = $('<div></div>').addClass('row mt-2').html(`<div class="col-5 small"></div><div class="col-7 small text-end">${subscriber.status.replace('_', ' ').toLowerCase()}</div>`);
        if (subscriber.subscribed || subscriber.unsubscribeTimestamp != null) {
            let infoRowHtml = `<a type="button" title='${subscriber.subscribed ? 'Unsubscribe' : 'Resubscribe'}' data-bs-toggle="modal"
                                data-bs-target=${subscriber.subscribed ? '#unsubscribeModal' : '#resubscribeModal'}
                                data-subscriberid='${subscriber.id}' data-subscribername='${subscriber.company.name}'>
                                <span class="badge text-bg-${subscriber.subscribed ? 'danger' : 'success'}">${subscriber.subscribed ? 'Unsub' : 'Resub'}</span></a>`;
            infoRow.find('.col-5').html(infoRowHtml);
        }
        cardBody.append(infoRow);
        card.append(cardBody);
        return card;
    }

    $('#addSendingModal').on('show.bs.modal', function(e) {
        companySelector.empty();
        fillCompaniesSelector(); // add to company-selector
        $(e.currentTarget).find('#statusSelector').val('');
        $(e.currentTarget).find('#invoiceNumInput').val('');
        $(e.currentTarget).find('#invoiceDateInput').val('');
        $(e.currentTarget).find('#letterNumInput').val('');
        $(e.currentTarget).find('#letterDateInput').val('').css('color', 'transparent');
    });

    function fillCompaniesSelector() {
        $.ajax({
            url: '/companies/all'
        }).done(companies => {
            if (companies.length !== 0) {
                companies.forEach(company => {
                    companySelector.append($('<option></option>').val(company.id).html(company.name));
                });
                companySelector.val('');
            }
        }).fail(function (data) {
            handleError(data, `Failed to get companies`);
        });
    }

    function createSending() {
        let companyId = companySelector.val();
        let status = $('#statusSelector').val();
        let invoiceNum = $('#invoiceNumInput').val();
        let invoiceDate = $('#invoiceDateInput').val();
        if (companyId.length && status.length && invoiceNum.length && invoiceDate.length) {
            $.ajax({
                url: '/documents/sendings',
                type: 'POST',
                data: JSON.stringify(makeSendingToObject()),
                contentType: 'application/json; charset=utf-8'
            }).done(() => {
                getSubscribers();
                $('#addSendingModal').modal('toggle');
                successToast(`Sending was added`);
            }).fail(function(data) {
                handleError(data, 'Failed to add sending');
            });
        }
    }

    function makeSendingToObject() {
        return {
            documentId: documentId,
            companyId: companySelector.val(),
            status: $('#statusSelector').val(),
            invoiceNumber: $('#invoiceNumInput').val(),
            invoiceDate: $('#invoiceDateInput').val(),
            letterNumber: $('#letterNumInput').val(),
            letterDate: $('#letterDateInput').val()
        };
    }

    function unsubscribe() {

    }

    function resubscribe() {

    }

    $('#unsubscribeModal').on('show.bs.modal', function(e) {
        let subscriberName = $(e.relatedTarget).data('subscribername');
        let subscriberId = $(e.relatedTarget).data('subscriberid');
        $(e.currentTarget).find('#unsubscribeModalLabel').text(`Unsubscribe: ${subscriberName}?`);
        $(e.currentTarget).find('#unsubscribeModalSubscriberId').val(subscriberId);
        $(e.currentTarget).find('#unsubscribeModalSubscriberName').val(subscriberName);
        $(e.currentTarget).find('#unsubscribeModalUnsubscribeReason').val('');
    });

    $('#resubscribeModal').on('show.bs.modal', function(e) {
        let subscriberName = $(e.relatedTarget).data('subscribername');
        let subscriberId = $(e.relatedTarget).data('subscriberid');
        $(e.currentTarget).find('#resubscribeModalLabel').text(`Resubscribe: ${subscriberName}?`);
        $(e.currentTarget).find('#resubscribeModalSubscriberId').val(subscriberId);
        $(e.currentTarget).find('#resubscribeModalSubscriberName').val(subscriberName);
    });

    $('#subscriberInfoModal').on('show.bs.modal', function(e) {
        let subscriber = subscriberMap.get($(e.relatedTarget).data('subscriberid'));
        fillSubscriberInfoModalLabel(subscriber);
        fillUnsubscribeInfoArea(subscriber);
        getSendings(subscriber.company.id);
    });

    function fillSubscriberInfoModalLabel(subscriber) {
        let subscribedBadgeText;
        if (subscriber.subscribed) {
            subscribedBadgeText = 'Subscribed';
        } else if (subscriber.unsubscribeTimestamp != null) {
            subscribedBadgeText = 'Unsubscribed';
        } else {
            subscribedBadgeText = 'Not subscribed';
        }
        let subscribedBadgeHtml = `<span class="badge text-bg-${subscriber.subscribed ? 'success' : 'secondary'}">${subscribedBadgeText}</span>`;
       $('#subscriberInfoModalLabel').html(`${subscriber.company.name} ${subscribedBadgeHtml}`);
    }

    function fillUnsubscribeInfoArea(subscriber) {
        $('#unsubscribeInfo').empty();
        if (subscriber.unsubscribeTimestamp != null) {
            let unsubscribeInfoArea = $('#unsubscribeInfo');
            let unsubscribeInfo = $('<div></div>').addClass('mb-2').text(`Unsubscribed ${new Date(subscriber.unsubscribeTimestamp).toLocaleString()} due to: ${subscriber.unsubscribeReason}`);
            unsubscribeInfoArea.append(unsubscribeInfo);
        }
    }

    function getSendings(companyId) {
        $('#sendingsTable').attr('hidden', true);
        $('#sendingsTable > tbody').empty();
        $.ajax({
            url: `/documents/${documentId}/sendings/by-company`,
            data: `companyId=${companyId}`
        }).done(sendings => {
            if (sendings.length !== 0) {
                $('#sendingsTable').attr('hidden', false);
                sendings.forEach(sending => {
                    addSendingRow(sending, companyId);
                });
                const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]');
                const popoverList = [...popoverTriggerList].map(popoverTriggerEl =>
                    new bootstrap.Popover(popoverTriggerEl, {html : true, sanitize: false}));
            } else {
                $('#subscriberInfoModal').modal('toggle');
                getSubscribers();
            }
        }).fail(function (data) {
            handleError(data, `Failed to get sendings`);
        });
    }

    function addSendingRow(sending, companyId) {
        let docStatusTd = $('<td></td>').text(`${sending.invoice.status}`);
        let invoiceTd = $('<td></td>').html(`${sending.invoice.number} (${new Date(sending.invoice.date).toLocaleDateString()})`);
        let letterTdHtml = '';
        if (sending.invoice.letter.number != null) {
            letterTdHtml = `${sending.invoice.letter.number} (${new Date(sending.invoice.letter.date).toLocaleDateString()})`;
        }
        let letterTd = $('<td></td>').html(letterTdHtml);
        let deleteSendingSubmitHtml = `<button class='btn btn-sm btn-secondary ms-3'>Cancel</button>
                                       <button class='btn btn-sm btn-danger' onclick='deleteSending(${sending.id}, ${companyId})'>Delete</button>`;

        let deleteActionTd = $('<td></td>').addClass('text-end').html(`<a tabindex="0" type="button" class="trash-button me-3"
                title="Delete sending" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Delete this sending?"
                data-bs-content="${deleteSendingSubmitHtml}"> <i class="fa-solid fa-trash"></i></a>`);
        let sendingRow = $('<tr></tr>');
        sendingRow.append(docStatusTd);
        sendingRow.append(invoiceTd);
        sendingRow.append(letterTd);
        sendingRow.append(deleteActionTd);
        $('#sendingsTable > tbody').append(sendingRow);
    }

    function deleteSending(sendingId, companyId) {
        $.ajax({
            url: `sendings/${sendingId}`,
            type: "DELETE"
        }).done(function() {
            getSendings(companyId);
            successToast('Sending was deleted');
        }).fail(function(data) {
            handleError(data, 'Failed to delete sending');
        });
    }

    function resubscribe() {
        let resubscribeModal = $('#resubscribeModal');
        let id = resubscribeModal.find('#resubscribeModalSubscriberId').val();
        let name = resubscribeModal.find('#resubscribeModalSubscriberName').val();
        resubscribeModal.modal('toggle');
        $.ajax({
            url: `subscribers/${id}/resubscribe`,
            type: "PATCH"
        }).done(function() {
            getSubscribers();
            successToast(`${name} was resubscribed`);
        }).fail(function(data) {
            handleError(data, `Failed to resubscribe ${name}`);
        });
    }

    function unsubscribe() {
        let unsubscribeModal = $('#unsubscribeModal');
        let id = unsubscribeModal.find('#unsubscribeModalSubscriberId').val();
        let name = unsubscribeModal.find('#unsubscribeModalSubscriberName').val();
        let unsubscribeReason = unsubscribeModal.find('#unsubscribeModalUnsubscribeReason').val();
        if (unsubscribeReason.length) {
            $.ajax({
                url: `subscribers/${id}/unsubscribe`,
                type: "PATCH",
                data: "unsubscribeReason=" + unsubscribeReason
            }).done(function() {
                unsubscribeModal.modal('toggle');
                getSubscribers();
                successToast(`${name} was unsubscribed`);
            }).fail(function(data) {
                handleError(data, `Failed to unsubscribe ${name}`);
            });
        }
    }

    function changeStyle() {
        $('#letterDateInput').css('color', 'black');
    }

</script>
