<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:with="activeMenuItem='Companies'" lang="en">

<th:block th:replace="~{fragments/main::page(title='Archivist - companies',appMain=~{::appMain})}">
    <appMain>
        <!-- Company details card -->
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="text-end mt-3 me-3">
                        <a th:href="@{/companies}" type="button" class="btn-close pb-0" aria-label="Close"></a>
                    </div>
                    <div class="card-body px-3 px-md-5 pb-3 pb-md-5 pt-0 text-center">
                        <h3 class="mb-4" th:text="'Company details: ' + ${company.name}">Company details</h3>
                        <div th:object="${company}">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <div class="input-group">
                                            <span class="input-group-text" id="nameAddon" title="Name"><i class="fa-brands fa-fort-awesome fa-fw"></i></span>
                                            <div class="form-floating">
                                                <input type="text" id="companyNameInput" th:field="*{name}" class="form-control" disabled
                                                       title="Name" aria-label="Name" aria-describedby="name-addon"/>
                                                <label for="companyNameInput" class="text-muted">Company name</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <div class="input-group">
                                            <span class="input-group-text" id="countryAddon" title="Country"><i class="fa-solid fa-flag fa-fw"></i></span>
                                            <div class="form-floating">
                                                <input type="text" id="countryInput" th:field="*{address.country}" class="form-control" disabled
                                                       title="Country" aria-label="Country" aria-describedby="country-addon"/>
                                                <label for="countryInput" class="text-muted">Country</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <div class="input-group">
                                            <span class="input-group-text" id="zipcodAddon" title="Zipcode"><i class="fa-solid fa-barcode fa-fw"></i></span>
                                            <div class="form-floating">
                                                <input type="text" id="zipcodeInput" th:field="*{address.zipcode}" class="form-control" disabled
                                                       title="Zipcode" aria-label="Zipcode" aria-describedby="zipcode-addon"/>
                                                <label for="zipcodeInput" class="text-muted">Zipcode</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <div class="input-group">
                                            <span class="input-group-text" id="cityAddon" title="City"><i class="fa-solid fa-city fa-fw"></i></span>
                                            <div class="form-floating">
                                                <input type="text" id="cityInput" th:field="*{address.city}" class="form-control" disabled
                                                       title="City" aria-label="City" aria-describedby="city-addon"/>
                                                <label for="cityInput" class="text-muted">City</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <div class="input-group">
                                            <span class="input-group-text" id="streetAddon" title="Street"><i class="fa-solid fa-road fa-fw"></i></span>
                                            <div class="form-floating">
                                                <input type="text" id="streetInput" th:field="*{address.street}" class="form-control" disabled
                                                       title="Street" aria-label="Street" aria-describedby="street-addon"/>
                                                <label for="streetInput" class="text-muted">Street</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <div class="input-group">
                                            <span class="input-group-text" id="houseAddon" title="House"><i class="fa-solid fa-house fa-fw"></i></span>
                                            <div class="form-floating">
                                                <input type="text" id="houseInput" th:field="*{address.house}" class="form-control" disabled
                                                       title="House" aria-label="House" aria-describedby="house-addon"/>
                                                <label for="houseInput" class="text-muted">House</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <div class="input-group">
                                            <span class="input-group-text" id="phoneAddon" title="Phone"><i class="fa-solid fa-phone fa-fw"></i></span>
                                            <div class="form-floating">
                                                <input type="text" id="phoneInput" th:field="*{contacts.phone}" class="form-control" disabled
                                                       placeholder="Phone" title="Phone number" aria-label="Phone number" aria-describedby="phone-addon"/>
                                                <label for="phoneInput" class="text-muted">Phone number</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <div class="input-group">
                                            <span class="input-group-text" id="faxAddon" title="Fax"><i class="fa-solid fa-fax fa-fw"></i></span>
                                            <div class="form-floating">
                                                <input type="text" id="faxInput" th:field="*{contacts.fax}" class="form-control" disabled
                                                       placeholder="Fax" title="Fax" aria-label="Fax" aria-describedby="fax-addon"/>
                                                <label for="faxInput" class="text-muted">Fax</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <div class="input-group">
                                            <span class="input-group-text" id="emailAddon" title="E-mail"><i class="fa-solid fa-envelope fa-fw"></i></span>
                                            <div class="form-floating">
                                                <input type="text" id="emailInput" th:field="*{contacts.email}" class="form-control" disabled
                                                       placeholder="E-mail" title="E-mail" aria-label="E-mail" aria-describedby="email-addon"/>
                                                <label for="emailInput" class="text-muted">E-mail</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Contact persons block -->
                            <div class="text-start mb-3">
                                <h4 class="text-secondary">Contact persons</h4>
                                <div id="contactPersonBlock" class="mt-3">
                                    <span th:if="*{contactPersons.isEmpty()}">
                                        <h5 class="alert alert-warning py-2 mb-4">No contact persons found.</h5>
                                    </span>

                                    <div th:each="contactPerson, itemStat : *{contactPersons}" class="row contact-person-row">
                                        <div class="col-lg-4">
                                            <div class="mb-4">
                                                <div class="form-floating">
                                                    <input type="text" th:id="*{contactPersons[__${itemStat.index}__].position}" th:field="*{contactPersons[__${itemStat.index}__].position}" class="form-control" disabled />
                                                    <label th:for="*{contactPersons[__${itemStat.index}__].position}" class="text-muted">Position</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-4">
                                                <div class="form-floating">
                                                    <input type="text" th:id="*{contactPersons[__${itemStat.index}__].fullName}" th:field="*{contactPersons[__${itemStat.index}__].fullName}" class="form-control" disabled />
                                                    <label th:for="*{contactPersons[__${itemStat.index}__].fullName}" class="text-muted">Name</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-4">
                                                <div class="form-floating">
                                                    <input type="text" th:id="*{contactPersons[__${itemStat.index}__].phone}" th:field="*{contactPersons[__${itemStat.index}__].phone}" class="form-control" disabled placeholder="Phone" />
                                                    <label th:for="*{contactPersons[__${itemStat.index}__].phone}" class="text-muted">Phone number</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <span sec:authorize="hasAnyRole('ADMIN','ARCHIVIST')" class="d-md-none d-grid">
                                <a th:href="@{'/companies/edit/' + ${company.id}}" class="btn btn-success btn-lg" type="button">Edit company</a>
                            </span>
                            <span sec:authorize="hasAnyRole('ADMIN','ARCHIVIST')" class="d-none d-md-block">
                                <a th:href="@{'/companies/edit/' + ${company.id}}" class="btn btn-success btn-lg" type="button">Edit company</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </appMain>
</th:block>