<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sd="http://www.thymeleaf.org/spring-data"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:with="activeMenuItem='Companies'" lang="en">

<th:block th:replace="~{fragments/main::page(title='Archivist - companies',appMain=~{::appMain}, ownScript=~{::ownScript})}">
    <appMain>
        <span th:if="${action != null}" th:data-action="${action}" th:id="actionSpan"></span>
        <!-- Search field, Add button -->
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col-md-4 text-start">
                <h2 class="text-secondary font-weight-bold"><i class="fa-solid fa-landmark me-2"></i>Companies</h2>
            </div>
            <div class="col-md-8 mb-2">
                <div class="btn-toolbar justify-content-start justify-content-md-end">
                    <form class="d-flex" role="search" th:action="@{/companies}" method="get">
                        <div class="input-group">
                            <span class="input-group-text bg-light" id="searchCompanies"><i class="fa-solid fa-magnifying-glass fa-fw"></i></span>
                            <input class="form-control" th:name="keyword" th:value="${param.keyword}" type="search" placeholder="Search companies..." aria-label="Search">
                        </div>
                    </form>
                    <a sec:authorize="hasAnyRole('ADMIN','ARCHIVIST')" th:href="@{/companies/add}" type="button" class="btn btn-primary ms-2">
                        <span class="d-none d-md-block"><i class="fa-solid fa-plus"></i> Add company</span>
                        <span class="d-md-none"><i class="fa-solid fa-plus"></i> Add</span>
                    </a>
                </div>
            </div>
        </div>

        <!-- Companies table -->
        <span th:if="${companies.isEmpty()}">
            <h5 class="alert alert-warning mt-2">No companies found.</h5>
        </span>

        <div th:if="${!companies.isEmpty()}" class="table-responsive text-nowrap">
            <table class="table table-hover table-bordered">
                <thead class="table-dark">
                <tr>
                    <th class="col-3">Name</th>
                    <th class="col-6">Address</th>
                    <th class="col-2">Phone</th>
                    <th class="col-1 text-center">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="company : ${companies}" th:id="'row-' + ${company.id}" class="table-row">
                    <td>
                        <a th:href="@{'/companies/' + ${company.id}}" th:text="${company.name}"
                           title="Show details" style="text-decoration:none; color:black"
                           onmouseover="this.style.color='#0000FF'; this.style.textDecoration='underline';"
                           onmouseout="this.style.color='black'; this.style.textDecoration='none';">Name</a>
                    </td>
                    <td th:text="${company.address.formattedAddress}"></td>
                    <td th:text="${company.contacts != null ? company.contacts.phone : ''}"></td>
                    <td class="text-center">
                        <a th:href="@{'/companies/' + ${company.id}}" type="button" title="Show details" class="glass-button">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </a>
                        <span sec:authorize="hasAnyRole('ADMIN','ARCHIVIST')">
                            <a th:href="@{'/companies/edit/' + ${company.id}}" type="button" title="Edit company" class="pencil-button ms-3">
                                <i class="fa-solid fa-pencil"></i>
                            </a>
                            <a type="button" class="trash-button ms-3"
                               title="Delete company" data-bs-toggle="modal" data-bs-target="#deleteModal"
                               th:data-name="${company.name}"
                               th:data-id="${company.id}">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- Pagination -->
        <div th:if="${!companies.isEmpty()}" class="row">
            <div class="col-12 col-md-6 text-center text-md-start">
                <div sd:pagination-summary="" id="paginationSummary">info</div>
            </div>

            <div class="col-12 col-md-6 mt-3 mt-md-0">
                <nav>
                    <ul class="pagination justify-content-center justify-content-md-end" sd:pagination-split="7" sd:pagination="full">
                        <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div th:if="${!companies.isEmpty()}" class="row">
            <div class="col text-center text-md-end">
                Show <span sd:page-size-selector="javascript"></span> entries
            </div>
        </div>

        <!-- Delete modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="deleteModalLabel">Are you sure want to delete company?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <input type="hidden" name="companyId" id="deleteModalCompanyId" value=""/>
                    <input type="hidden" name="companyName" id="deleteModalCompanyName" value=""/>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="close">Cancel</button>
                        <button type="button" class="btn btn-danger" onclick="deleteCompany()">Delete</button>
                    </div>
                </div>
            </div>
        </div>

    </appMain>

    <ownScript>
        <script>sessionStorage.removeItem('cardPrevUrl');</script>
        <script src="/js/common.js?v=1"></script>
        <script src="/js/table-content.js?v=1"></script>
        <script src="/js/companies.js?v=1"></script>
    </ownScript>
</th:block>
